<!-- Footer/Links 
		================================================== -->
<section class="footer-sec">
    <div class="container hidden3" style="opacity:0;">
        <div class="row">
            <div class="col-md-3">
                <div class="img-container line">
                    <img class="img-fluid" src="./img/Main Logo PNG white.png" alt="">
                </div>
            </div>
            <div class="col-md-3">
                <h3>Address</h3>
                <p class="line">
                    25695 N Centre City Parkway
                    <br> Escondido, CA 92026
                    <br> Facility #374603462
                </p>
            </div>

            <div class="col-md-3">
                <h3>Contact</h3>
                <p class="line">
                    (760) 738-1555
                    <br> info@villamonticelloal.com
                </p>
            </div>

            <div class="col-md-3">
                <h3>Connect With Us</h3>
                <ul class="social-network social-circle">
                    <li>
                        <a href="#" class="icoYouTube" title="YouTube">
                            <i class="fa fa-youtube-play"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="icoFacebook" title="Facebook">
                            <i class="fa fa-facebook"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="icoInstagram" title="Instagram">
                            <i class="fa fa-instagram"></i>
                        </a>
                    </li>
                </ul>
            </div>

        </div>
    </div>

    <p class="footer-text">©2018 Donovan Hedrich Montoya & Angeline Dy</p>

</section>