<!-- Basic Care
    ================================================== -->
<section class="service-sec first-sec" id="services">

    <div class="container-fluid hidden2 service-header" style="opacity:0;">
        <div class="row section-content slogan-content2">
            <div class="about-us about-us-right">
                <div class="about-us-text">
                    <h3>All-Inclusive Basic Care</h3>
                    <hr>
                    <p>With the understanding that each resident is unique and requires a different level
                        of care, we take the time to carefully complete a pre-admission assessment prior to accepting
                        any resident in order to create an effective plan of care that will meet their individual needs.

                        Our plan of care is a collaborative effort between the facility staff, family members, and
                        other interdisciplinary professionals – physical therapists, home health, hospice, etc-
                        involved in the care of the resident. A post-admission assessment is completed after 30 days to
                        evaluate the effectiveness of the plan and implement necessary modifications as deemed
                        necessary. On an annual basis, we review this plan to ensure each resident continues to receive
                        consistent and quality care.</p>
                    <a id="scroll-to" href="#scroll-to" class="btn-services scroll-to">SEE MORE&nbsp;&nbsp;<i class="fa fa-angle-down"></i></a>
                </div>
            </div>
        </div>
    </div>

    <div class="container hidden4" style="opacity:0;">
        <div class="accordion" id="accordionExample">
            <div class="card">
                <div class="card-header" id="headingOne">
                    <h5 class="mb-0">
                        <a class="btn btn-link" id="scroll-target" data-toggle="collapse" data-target="#collapseOne"
                            aria-expanded="true" aria-controls="collapseOne">
                            Direct Care, Assistance and Monitoring
                        </a>
                    </h5>
                </div>

                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                    <div class="card-body row">
                        <ul class="col-lg-6 dcp-list">
                            <li>24 hour care of monitoring, supervision and assistance as needed
                            </li>
                            <li>Assist with showers and daily hygiene including shaving
                            </li>
                            <li>Assist with hearing aids and eye glasses and other appliance</li>
                            <li>Toileting and incontinent care
                            </li>
                            <li>Night monitoring and assistance as needed
                            </li>
                            <li>Observation and reporting of any abnormal conditions to the primary care physician and
                                family/responsible party
                            </li>
                            <li>1 person minimal assist with transfer and mobility
                            </li>
                        </ul>
                        <ul class="col-lg-6 dcp-list">
                            <li>Minor wound /skin care
                            </li>
                            <li>Coordinate and work with outside services as per Doctor’s order such as home health,
                                hospice
                                care, physical and occupational
                                therapy..
                            </li>
                            <li>Schedule medical and dental appointments and arrange transportation upon request
                            </li>
                            <li>Hospice Care
                            </li>
                            <li>Call 911 or emergency transport in case of any incidence that will require emergency
                                treatment.
                                Cost to be paid by
                                Resident’s responsible party
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingTwo">
                    <h5 class="mb-0">
                        <a class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo"
                            aria-expanded="false" aria-controls="collapseTwo">
                            Meals Management
                        </a>
                    </h5>
                </div>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                    <div class="card-body">
                        <ul>
                            <li>3 Nutritious meals plus snacks . Unlimited beverages not unless contraindicated
                            </li>
                            <li>Escort to and from meals and activities as needed
                            </li>
                            <li>Assistance and monitoring of meals and diet as prescribed by physician
                            <li>Modified diet as per Doctor’s order ( ex. Low salt , low sugar, soft or pureed)
                            </li>
                            <li>Observe and report any changes in appetite and ability to swallow or allergies to food.
                            </li>
                            <li>Encourage fluid intake except when contraindicated
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingThree">
                    <h5 class="mb-0">
                        <a class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree"
                            aria-expanded="false" aria-controls="collapseThree">
                            Medication Management
                        </a>
                    </h5>
                </div>
                <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                    <div class="card-body">
                        <ul>
                            <li>
                                Medications centrally stored and locked in a med cart
                            </li>
                            <li>
                                Properly dispense medicines as per Doctors order by trained med tech
                            </li>
                            <li>
                                Proper inventory and documentation of medications including narcotics
                            </li>
                            <li>
                                In charge with order of new meds and refills of routine and PRN medications
                            </li>
                            <li>
                                Proper destruction of discontinued and expired medications
                            </li>
                            <li>Observation and reporting of possible allergic reactions and bad side effects of
                                medications
                                given</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingFour">
                    <h5 class="mb-0">
                        <a class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFour"
                            aria-expanded="false" aria-controls="collapseFour">
                            Social, Mental, Emotional and Behavioral Support
                        </a>
                    </h5>
                </div>
                <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
                    <div class="card-body">
                        <ul>
                            <li>
                                Stimulating activities that promote wellness, mental stimulation and socialization
                            </li>
                            <li>
                                Observe and report any changes in moods and behavior, mental capacity and emotional
                                status
                            </li>
                            <li>
                                Managing “sundowning” behavior by redirecting and providing closer attention and
                                supervision
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingFive">
                    <h5 class="mb-0">
                        <a class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFive"
                            aria-expanded="false" aria-controls="collapseFive">
                            Housekeeping, Laundry Services and Basic Supplies
                        </a>
                    </h5>
                </div>
                <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordionExample">
                    <div class="card-body">
                        <ul>
                            <li>
                                Basic housekeeping
                            </li>
                            <li>
                                Basic toiletries supplies
                            </li>
                            <li>
                                Laundry service for regular clothes . no dry clean and no washing of fine clothes
                            </li>
                            <li>
                                Basic toiletries and hygiene supplies
                            </li>
                            <li>
                                Incontinent Supplies
                            </li>
                            <li>
                                Basic bedroom furnitures ( twin size bed, side table, lamp, chair , Dresser or closet
                            </li>
                            <li>
                                Linens, sheets, pillows, blankets included
                            </li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="offset-lg-8">
            <a href="/SS" class="btn-services btn-services-next">See Special Services&nbsp;&nbsp;<i class="fa fa-angle-right"></i></a>
        </div>
    </div>



</section>