<!-- Basic Care
    ================================================== -->
<section class="service-sec first-sec" id="services">
    <div class="container hidden2" style="opacity:0;">
        <div class="row section-heading">
            <div class="col-md-8">
                <div class="heading">
                    <h2>
                        <small>All Levels of Care</small>All-Inclusive Basic Services</h2>
                    <hr>
                </div>
            </div>
            <div class="col-md-4 section-heading-img">
                <img class="img-fluid service-logo" src="./img/Main Logo PNG.png" alt="">
            </div>
        </div>
        <div class="row section-content">
            <div class="col-md-4">
                <h3>Direct Care, Assistance and Monitoring</h3>
                <ul>
                    <li>24 hour care of monitoring, supervision and assistance as needed
                    </li>
                    <li>Assist with showers and daily hygiene including shaving
                    </li>
                    <li>Assist with hearing aids and eye glasses and other appliance</li>
                    <li>Toileting and incontinent care
                    </li>
                    <li>Night monitoring and assistance as needed
                    </li>
                    <li>Observation and reporting of any abnormal conditions to the primary care physician and
                        family/responsible party
                    </li>
                    <li>1 person minimal assist with transfer and mobility
                    </li>
                    <li>Minor wound /skin care
                    </li>
                    <li>Coordinate and work with outside services as per Doctor’s order such as home health, hospice
                        care, physical and occupational
                        therapy..
                    </li>
                    <li>Schedule medical and dental appointments and arrange transportation upon request
                    </li>
                    <li>Hospice Care
                    </li>
                    <li>Call 911 or emergency transport in case of any incidence that will require emergency treatment.
                        Cost to be paid by
                        Resident’s responsible party
                    </li>
                </ul>
            </div>

            <div class="col-md-4">
                <h3>Meals Management</h3>
                <ul>
                    <li>3 Nutritious meals plus snacks . Unlimited beverages not unless contraindicated
                    </li>
                    <li>Escort to and from meals and activities as needed
                    </li>
                    <li>Assistance and monitoring of meals and diet as prescribed by physician
                    <li>Modified diet as per Doctor’s order ( ex. Low salt , low sugar, soft or pureed)
                    </li>
                    <li>Observe and report any changes in appetite and ability to swallow or allergies to food.
                    </li>
                    <li>Encourage fluid intake except when contraindicated
                    </li>
                </ul>
                <h3>Medication Management</h3>
                <ul>
                    <li>
                        Medications centrally stored and locked in a med cart
                    </li>
                    <li>
                        Properly dispense medicines as per Doctors order by trained med tech
                    </li>
                    <li>
                        Proper inventory and documentation of medications including narcotics
                    </li>
                    <li>
                        In charge with order of new meds and refills of routine and PRN medications
                    </li>
                    <li>
                        Proper destruction of discontinued and expired medications
                    </li>
                    <li>Observation and reporting of possible allergic reactions and bad side effects of medications
                        given</li>
                </ul>
            </div>

            <div class="col-md-4">
                <h3>Social, Mental and Emotional Support and Behavior Management</h3>
                <ul>
                    <li>
                        Stimulating activities that promote wellness, mental stimulation and socialization
                    </li>
                    <li>
                        Observe and report any changes in moods and behavior, mental capacity and emotional status
                    </li>
                    <li>
                        Managing “ sundowning” behavior by redirecting and providing closer attention and supervision
                    </li>
                </ul>
                <h3>Housekeeping, Laundry Services and Basic Supplies and Furnishing Included</h3>
                <ul>
                    <li>
                        Basic housekeeping
                    </li>
                    <li>
                        Basic toiletries supplies
                    </li>
                    <li>
                        Laundry service for regular clothes . no dry clean and no washing of fine clothes
                    </li>
                    <li>
                        Basic toiletries and hygiene supplies
                    </li>
                    <li>
                        Incontinent Supplies
                    </li>
                    <li>
                        Basic bedroom furnitures ( twin size bed, side table, lamp, chair , Dresser or closet
                    </li>
                    <li>
                        Linens, sheets, pillows, blankets included
                    </li>

                </ul>
            </div>
        </div>
        <!-- <div class="col-md-4">
				<img src="./img/palm-trees-p.jpg" class="img-fluid service-img" />
			</div> -->
    </div>
    </div>
</section>