<!-- Services
    ================================================== -->
<section class="service-sec first-sec" id="services">
    <div class="container hidden2" style="opacity:0;">
        <div class="row section-heading">
            <div class="col-md-8">
                <div class="heading">
                    <h2>
                        <small></small>Our Blog</h2>
                    <hr>
                </div>
            </div>
            <div class="col-md-4 section-heading-img">
                <img class="img-fluid service-logo" src="./img/Main Logo PNG.png" alt="">
            </div>
        </div>
        <div class="row blog-entries">
            <p>Blog Entries Not Found</p>
        </div>
    </div>
</section>

<script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="./js/blog.js"></script>