<!-- Services
    ================================================== -->
<section class="service-sec first-sec" id="services">
    <div class="container hidden2" style="opacity:0;">
        <div class="row gallery-header">
            <h3>Contact Us <small>- We'd Love To Hear From You!</small></h3>
        </div>
        <div class="row contact-margin">
            <div class="col-md-6">

                <form class="form-container shadow">
                    <div class="form-group">
                        <label for="contactName">Name</label>
                        <input type="text" class="form-control" id="contactName" placeholder="John Doe">
                    </div>
                    <div class="form-group">
                        <label for="contactEmail">Email</label>
                        <input type="email" class="form-control" id="contactEmail" aria-describedby="emailHelp"
                            placeholder="johndoe@gmail.com">
                        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone
                            else.</small>
                    </div>
                    <div class="form-group">
                        <label for="contactMessage">Message</label>
                        <textarea class="form-control" rows="6" id="contactMessage">{{villa}}</textarea>
                    </div>
                    <button id="submit" type="submit" class="btn btn-aqua btn-capsul">Submit</button>
                </form>
            </div>
            <div class="col-md-6">
                <div class="shadow">
                    <div class="maps-container row">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d170561.8259115928!2d-117.1987010585359!3d33.203933317643575!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zMzPCsDEwJzQ0LjUiTiAxMTfCsDA2JzQzLjkiVw!5e0!3m2!1sen!2sus!4v1542752822629"
                            width="100%" height="320" frameborder="0" style="border:0" allowfullscreen></iframe>
                    </div>
                    <div class="row text-center">
                        <div class="col-4 box1 pt-4">
                            <a class="a-2" href="tel:+7607381555">
                                <i class="fa fa-phone fa-3x"></i>
                                <h4 class="d-none d-lg-block d-xl-block">Phone</h3>
                                    <p class="contact-text d-none d-lg-block d-xl-block">(760) 738-1555</p>
                            </a>
                        </div>
                        <div class="col-4 box3 pt-4">
                            <a class="a-3" target="_blank" href="https://www.google.com/maps/place/Villa-Monticello/@33.2234435,-117.1188097,17z/data=!3m1!4b1!4m5!3m4!1s0x80db8bd7a4141c11:0xbd35879ed8dedf9c!8m2!3d33.223439!4d-117.116621?hl=en-US">
                                <i class="fa fa-home fa-3x"></i>
                                <h4 class="d-none d-lg-block d-xl-block">Address</h3>
                                    <p class="contact-text d-none d-lg-block d-xl-block">28661 Meadow Glen Way W,
                                        Escondido, CA 92026</p>
                            </a>
                        </div>
                        <div class="col-4 box2 pt-4">
                            <a class="a-1" href="mailto:info@villamonticelloal.com">
                                <i class="fa fa-envelope fa-3x"></i>
                                <h4 class="d-none d-lg-block d-xl-block">E-mail</h3>
                                    <p class="contact-text d-none d-lg-block d-xl-block">info@villamonticelloal.com</p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>