<!-- Services
    ================================================== -->
<section class="service-sec first-sec" id="services">
    <div class="container hidden2">
        <div class="row section-heading">
            <div class="col-md-8">
                <div class="heading">
                    <h2>
                        <small>Program of Care</small>Dementia Care</h2>
                    <hr>
                </div>
            </div>
            <div class="col-md-4 section-heading-img">
                <img class="img-fluid service-logo" src="./img/Main Logo PNG.png" alt="">
            </div>
        </div>
        <div class="row">
            <p>
                Villa Monticello is a Licensed Residential Care Facility for the Elderly that recognizes that caring
                for a resident with
                Dementia is not a “one size fits all." Our dementia care program is designed to focus and meet the
                personal and unique
                needs of our residents.
            </p>
        </div>
        <div class="row">
            <div class="col-md-6">
                <h3>Our Goals</h3>
                <li>To develop and implement a effective dementia program and plan of care which will enhance the
                    quality of life and
                    meed the individualized needs of the residents we served</li>
                <li>
                    To forge a collaborative and close working partnership between the staff , family, friends and
                    medical professional towards
                    achieving a common goal.
                </li>
                <li>
                    To create an ongoing staff dementia training so they will be equipped with adequate knowledge
                    regarding proper care of
                    Dementia
                </li>
            </div>

            <div class="col-md-6">
                <h3>5 Point Strategy of Dementia Program (C.A.R.E.S)</h3>
                <li>
                    C - Careful assessment of each resident’s unique and individual needs
                </li>
                <li>
                    A - Adapt and implement a program/service plan developed to meet the ever changing needs of our
                    residents
                </li>
                <li>
                    R - Review and assess on a regular basis the program and plan of care implemented to evaluate its
                    effectiveness and relevance
                </li>
                <li>
                    E - Empower the residents with dementia and the staff of caregivers , families, friends and medical
                    professional by building
                    a positive partnership toward achieving a common goal
                </li>
                <li>
                    S - Secure a safe environment essential to the total well being of our residents
                </li>
            </div>
        </div>

    </div>
</section>