<!-- Services
    ================================================== -->
<section class="service-sec first-sec" id="services">
    <div class="container hidden2">
        <div class="row section-heading">
            <div class="col-md-8">
                <div class="heading">
                    <h2>
                        <small>Our Communities</small>Recommended Homes</h2>
                    <hr>
                </div>
            </div>
            <div class="col-md-4 section-heading-img">
                <img class="img-fluid service-logo" src="./img/Main Logo PNG.png" alt="">
            </div>
        </div>
        <div class="row section-content">
            <h3 class="obvi-link"><a href="https://dhedrich.github.io/hilltop-ce/" target="_blank">Hilltop Country
                    Estate</a></h3>
            <p>Hilltop Country Estate is a private 10 bed residential care facility for the elderly, licensed by the
                State of California. It’s located in the serene golf community Hidden Meadows. This assisted living
                home is spread out over 10 acres and has beautiful views of the surrounding mountains and valley.
                Residents can enjoy peaceful walks amongst the many fruit trees or relax in any of the numerous outdoor
                seating areas.</p>
        </div>
    </div>
</section>