<!-- Swiper Silder
		================================================== -->
<!-- Slider main container -->
<div class="swiper-container main-slider" id="myCarousel">
    <img class="img-fluid floater" src="./img/Main Logo PNG white.png" alt="">
    <div class="swiper-wrapper">
        <div class="swiper-slide slider-bg-position" style="background:url('./img/grapes-1.jpg')" data-hash="slide1">
            <!-- <h2>An expansive natural getaway to soothe the soul</h2> -->
        </div>
        <div class="swiper-slide slider-bg-position" style="background:url('./img/tree-sunset.jpg')" data-hash="slide2">
            <!-- <h2>Feels like home</h2> -->
        </div>
        <div class="swiper-slide slider-bg-position" style="background:url('./img/bedroom.jpg')" data-hash="slide3">
            <!-- <h2>Feels like home</h2> -->
        </div>
    </div>
    <!-- Add Pagination -->
    <div class="swiper-pagination"></div>
    <!-- Add Navigation -->
    <div class="swiper-button-prev">
        <i class="fa fa-chevron-left"></i>
    </div>
    <div class="swiper-button-next">
        <i class="fa fa-chevron-right"></i>
    </div>
</div>
<div class="separator"></div>

<!-- Services
    ================================================== -->
<section class="service-sec" id="services">
    <div class="container">
        <div class="row section-heading">
            <div class="col-md-8">
                <div class="heading">
                    <h2>
                        <small>Boutique Memory Care</small>Our compassion sets us apart</h2>
                    <hr>
                </div>
            </div>
            <div class="col-md-4 section-heading-img">
                <img class="img-fluid service-logo" src="./img/Main Logo PNG.png" alt="">
            </div>
        </div>
        <div class="row section-content">
            <div class="col-md-8">
                <h3>About Villa Monticello</h3>
                <p>
                    Villa Monticello, a memory care facility for seniors, was conceived out of a vision to create a
                    boutique-style community that evokes style and grace. Our goal is to provide our residents an
                    environment that stimulates the senses, where the beauty of nature abounds and residents have the
                    freedom to safely explore their surroundings in an environment that neither isolates nor limits
                    their movement behind locked doors.
                </p>
                <p>
                    Villa Monticello offers a unique and distinctive landscape and Italian inspired architecture. It
                    sits nestled between gently rolling hills in the center of North Escondido and is bordered by major
                    streets on each side of the property for visibility and accessibility. The decorative wrought iron
                    gate opens up to welcome our guests to approximately 10 acres of property surrounded by matured
                    tress, rock formations, a growing vineyard, multiple oak trees, and a winding driveway lined with a
                    white picket fence leading up to 4 separate villas spread out and built on expansive areas of land.
                </p>
                <p>
                    Villa Monticello is an exclusive 29-bed licensed facility serving seniors with mild to moderate
                    dementia. It consists of four individual villas with a small capacity of 4 to 11 residents per
                    villa giving it a warm, personal
                    experience reminiscent of one's own home. Each villa has its own features and personality suited to
                    the individual needs of our residents.
                </p>
            </div>
            <div class="col-md-4">
                <img src="./img/palm-trees-p.jpg" class="img-fluid service-img" />
            </div>
        </div>
    </div>
</section>