<!-- Services
    ================================================== -->
<section class="service-sec first-sec" id="services">

    <div class="container-fluid hidden2 service-header" style="opacity:0;">
        <div class="row section-content slogan-content5">
            <div class="about-us about-us-right">
                <div class="about-us-text">
                    <h3>Other Programs of Care</h3>
                    <hr>
                    <p>Each day, our residents are gently and safely engaged in mental and physical activities that are stimulating and beneficial for their overall wellbeing. Our activities are personalized to each resident’s interests as well as physical and mental capabilities. Our goal is to help each resident experience enjoyable and meaningful moments every day.</p>
                    <a id="scroll-to" href="#scroll-to" class="btn-services scroll-to">SEE MORE&nbsp;&nbsp;<i class="fa fa-angle-down"></i></a>
                </div>
            </div>
        </div>
    </div>

    <div class="container hidden4" style="opacity:0;">
        <div class="accordion" id="accordionExample">
            <div class="card">
                <div class="card-header" id="headingOne">
                    <h5 class="mb-0">
                        <a class="btn btn-link" id="collapseOne" data-toggle="collapse" data-target="#collapseOne"
                            aria-expanded="true" aria-controls="collapseOne">
                            Planned Daily Activities
                        </a>
                    </h5>
                </div>

                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                    <div class="card-body">
                        <p>
                            Engaging in meaningful activities to help maintain their functional abilities, enhance
                            their self
                            esteem, and provide social
                            interaction. Our activities are tailored to the residents capabilities, interests, and
                            preferences
                            while still providing
                            a sense of fulfillment, pleasure and stimulation.
                        </p>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingTwo">
                    <h5 class="mb-0">
                        <a class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo"
                            aria-expanded="false" aria-controls="collapseTwo">
                            Fall Prevention
                        </a>
                    </h5>
                </div>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                    <div class="card-body">
                        <p>Our goal is to provide a safe environment for our residents and preserve mobility by
                            reducing the
                            risk of fall and fall
                            related injuries. Our facility is retrofitted with proper handrails and grab bars, bedrooms
                            are
                            spacious and accommodating
                            and there is a vast landscaped outdoor area for exercise and and ambulation to strengthen
                            their
                            legs and stimulate
                            their senses. Most importantly, we provide sufficient staff to oversee the residents
                            activities and
                            prevent accidental
                            falls.
                        </p>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingThree">
                    <h5 class="mb-0">
                        <a class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree"
                            aria-expanded="false" aria-controls="collapseThree">
                            Pain Management
                        </a>
                    </h5>
                </div>
                <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                    <div class="card-body">
                        <p>
                            Pain is difficult to assess and usually improperly treated with residents suffering from
                            dementia
                            due to their inability
                            to effectively communicate. Our goal is to be able to recognize and manage their pain in a
                            systematic and effective
                            manner to relieve their distress and agitation caused by untreated or under treated pain
                        </p>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingFour">
                    <h5 class="mb-0">
                        <a class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFour"
                            aria-expanded="false" aria-controls="collapseFour">
                            Skin Care and Bedsore Prevention and Treatment
                        </a>
                    </h5>
                </div>
                <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
                    <div class="card-body">
                        <p>
                            Due to limited mobility, fragility and dry skin, neglect of proper hygiene, elderly are
                            prone to
                            skin breakdown. To promote
                            healthy skin, we ensure proper nutrition, hydration, increase mobility and exercise.
                        </p>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingFive">
                    <h5 class="mb-0">
                        <a class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFive"
                            aria-expanded="false" aria-controls="collapseFive">
                            End of Life Care </a>
                    </h5>
                </div>
                <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordionExample">
                    <div class="card-body">
                        <p>
                            Our facility has hospice waiver which allows us to continue providing care to our residents
                            when
                            they reach the final stage
                            of their disease.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 prev-correct">
            <a href="/DCP" class="btn-services btn-services-prev"><i class="fa fa-angle-left"></i>&nbsp;&nbsp;See
                Dementia Care</a>
        </div>
        <div class="offset-lg-8">
            <a href="/TCPR" class="btn-services btn-services-next">See Rates&nbsp;&nbsp;<i class="fa fa-angle-right"></i></a>
        </div>
    </div>

</section>