<!-- Services
    ================================================== -->
<section class="service-sec first-sec" id="services">
    <div class="container hidden2">
        <div class="row section-heading">
            <div class="col-md-8">
                <div class="heading">
                    <h2>Other Programs of Care</h2>
                    <hr>
                </div>
            </div>
            <div class="col-md-4 section-heading-img">
                <img class="img-fluid service-logo" src="./img/Main Logo PNG.png" alt="">
            </div>
        </div>

        <div class="row section-content">
            <div class="col-md-8">
                <h3>
                    Planned Daily Activities
                </h3>
                <p>
                    Engaging in meaningful activities to help maintain their functional abilities, enhance their self
                    esteem, and provide social
                    interaction. Our activities are tailored to the residents capabilities, interests, and preferences
                    while still providing
                    a sense of fulfillment, pleasure and stimulation.
                </p>

                <h3>
                    Fall Prevention
                </h3>
                <p>Our goal is to provide a safe environment for our residents and preserve mobility by reducing the
                    risk of fall and fall
                    related injuries. Our facility is retrofitted with proper handrails and grab bars, bedrooms are
                    spacious and accommodating
                    and there is a vast landscaped outdoor area for exercise and and ambulation to strengthen their
                    legs and stimulate
                    their senses. Most importantly, we provide sufficient staff to oversee the residents activities and
                    prevent accidental
                    falls.
                </p>

                <h3>
                    Pain Management
                </h3>
                <p>
                    Pain is difficult to assess and usually improperly treated with residents suffering from dementia
                    due to their inability
                    to effectively communicate. Our goal is to be able to recognize and manage their pain in a
                    systematic and effective
                    manner to relieve their distress and agitation caused by untreated or under treated pain
                </p>

                <h3>
                    Skin Care and Bedsore Prevention and Treatment
                </h3>
                <p>
                    Due to limited mobility, fragility and dry skin, neglect of proper hygiene, elderly are prone to
                    skin breakdown. To promote
                    healthy skin, we ensure proper nutrition, hydration, increase mobility and exercise.
                </p>

                <h3>
                    End of Life Care
                </h3>
                <p>
                    Our facility has hospice waiver which allows us to continue providing care to our residents when
                    they reach the final stage
                    of their disease.
                </p>
            </div>
        </div>
</section>