<!-- Services
    ================================================== -->
<section class="service-sec first-sec" id="services">
    <div class="container hidden2" style="opacity:0;">
        <div class="row gallery-header">
            <h3>Testimonials</h3>
        </div>
        <div class="row blog-entries">
            <div class="container hidden4">
                <blockquote class="quote-card green-card">
                    <p>
                        I highly recommend Hilltop Country Estate if you need personalized care for your loved one. You
                        and
                        your loved one will feel right at home. </p>

                    <cite class="white-text">
                        <strong>Lois & Peter M. </strong>
                    </cite>
                        <small>personal testimonial</small>
                </blockquote>
            </div>
            <div class="container hidden5">
                <blockquote class="quote-card white-card">
                    <p>
                        I would recommend Hilltop without a moment’s hesitation and will gladly talk to anyone who is
                        considering moving their loved one there. Thank you so much for all you’ve done for my mother.
                        Please
                        send my regards and grateful thanks to your wonderful staff of caregivers for all they did for
                        her.
                    </p>

                    <cite class="green-text">
                        <strong>Kathy S. </strong>
                    </cite>
                        <small>personal testimonial</small>
                </blockquote>
            </div>
            <div class="container hidden6">
                <blockquote class="quote-card green-card">
                    <p>
                        The staff at the facility was wonderful..or any other adjective that describes loving, caring
                        individuals. His daily life was enhanced by their care and attentiveness to his needs. We knew
                        my dad
                        would spend his last his last days there, and when he passed away, every staff member came to
                        say
                        goodbye to him, and their tears were my tears. I have never met people like them and bless them
                        each
                        day for making his last stage of life a meaningful one.
                    </p>

                    <cite class="white-text">
                        <strong>Maureen P. </strong>
                    </cite>
                        <small>personal testimonial</small>
                </blockquote>
            </div>
            <div class="container hidden7">
                <blockquote class="quote-card white-card">
                    <p>
                        My mother recieved outstanding care here. They are respectful, caring, and clean!! I loved
                        visiting her while the staff would sing with other clients. Truly a special setting as well.
                        More family members came to see her here because it was so inviting.
                    </p>

                    <cite class="green-text">
                        <strong>Valerie Bressler-Hill </strong>
                    </cite>
                        <small>via <a class="a-4" href="https://www.google.com/search?q=hilltop+country+estate&rlz=1C1GGRV_enUS753US753&oq=hilltop+country+estate&aqs=chrome..69i57j0j69i61l3j0.34891j0j7&sourceid=chrome&ie=UTF-8#lrd=0x80db8bd7a4141c11:0xbd35879ed8dedf9c,1,,,">Google</a></small>
                </blockquote>
            </div>
            <div class="container hidden8">
                <blockquote class="quote-card green-card">
                    <p>
                        Hilltop Country Estate is a Residential Care facility jewel in the country with a park-like
                        setting. They have been taking care of my wife for over 8 years during different stages of
                        Alzheimer's disease. They adapted her care to her changing physical and mental conditions. The
                        skilled and sensitive caregivers are elder care, hospice care, total care and dementia care
                        specialists that provide daily showers and home cooked meals utilizing fresh garden vegetables.
                        Many visiting nurses have remarked how lucky I am to have my wife at this facility compared to
                        others in the area. I would encourage anyone looking for a caring, competent facility to care
                        for a loved to come visit and check it out. </p>

                    <cite class="white-text">
                       <strong>Michael Powell</strong>
                    </cite>
                        <small>via <a class="a-2" href="https://www.google.com/search?q=hilltop+country+estate&rlz=1C1GGRV_enUS753US753&oq=hilltop+country+estate&aqs=chrome..69i57j0j69i61l3j0.34891j0j7&sourceid=chrome&ie=UTF-8#lrd=0x80db8bd7a4141c11:0xbd35879ed8dedf9c,1,,,">Google</a></small>
                </blockquote>
            </div>
            {{!-- <h4>I highly recommend Hilltop Country Estate if you need personalized care for your loved one. You
                and
                your loved one will feel right at home.
            </h4>
            <p>~ Lois & Peter M.
            </p>
            <h4>I would recommend Hilltop without a moment’s hesitation and will gladly talk to anyone who is
                considering moving their loved one there. Thank you so much for all you’ve done for my mother. Please
                send my regards and grateful thanks to your wonderful staff of caregivers for all they did for her.
            </h4>
            <p>~ Kathy S.
            </p>
            <h4>The staff at the facility was wonderful..or any other adjective that describes loving, caring
                individuals. His daily life was enhanced by their care and attentiveness to his needs. We knew my dad
                would spend his last his last days there, and when he passed away, every staff member came to say
                goodbye to him, and their tears were my tears. I have never met people like them and bless them each
                day for making his last stage of life a meaningful one.
            </h4>
            <p>~ Maureen P.</p>
        </div> --}}
    </div>
</section>