<!-- Services
    ================================================== -->
<section class="service-sec first-sec" id="services">
    <div class="container hidden2" style="opacity:0;">
        <div class="row gallery-header">
            <h3>Testimonials</h3>
        </div>
        <div class="row blog-entries">
            <div class="container hidden4">
                <blockquote class="quote-card green-card">
                    <p class="text-edit">
                        "I absolutely love Villa Monticello.  My mom is 88 years old with dementia and in a wheel-chair.  We have moved her 3 times in 2 years and finally have found the perfect fit.  I have no complaints at all.  The facility is very clean, homey, and in the most beautiful piece of property.  Her room is perfect and has a door to the outside where we sit on a porch area with nice piped in music and look at the view.  The staff is wonderful and very personable.  They know what my mom likes and dislikes.  The chef is great and makes the best meals and even plates it like you are in a 5 star restaurant.  There is some kind of activity usually going on.  They exercise in the morning, sometimes play games, singing, and there are always puzzles going on the tables.  I always feel welcomed every time I am there.  The staff have become friends.  They show sincerity in the care they provide.  I tell everyone I know what a wonderful place this is." </p>

                    <cite class="white-text">
                        <strong>Phyllis Backer</strong>
                    </cite>
                    <small>via <a class="a-2" href="https://www.google.com/search?rlz=1C1GGRV_enUS753US753&ei=XREFXIKbOYSM8APLt4Zg&q=villa+monticello+assisted+living&oq=villa+monticello+assisted+living&gs_l=psy-ab.3..0l2j0i22i30.443071.447354..447495...0.0..0.152.1956.5j14......0....1..gws-wiz.......0i71j35i39j0i8i13i30j0i13i5i10i30.nCJrjfLBy_Y#lrd=0x80db8b0f3b4a63eb:0xa2dd0a87388cb5a2,1,,,">Google</a></small>
                </blockquote>
            </div>
            <div class="container hidden5">
                <blockquote class="quote-card white-card">
                    <p class="text-edit">
                        "My Mom was with Ruby and Orlando Dy at Villa Monticello from January 2015 until her death in June of this year (2017).  I cannot begin to express our heartfelt thanks and appreciation for the care and love my mom received from the Dy's and the staff at Villa Monticello.  Mom received 24 hour care and our family was confident in the care she received.  They worked with us as my mom's memory declined and her needs changed.  We were able to keep my Mom at Villa Monticello, during these changing times, until her recent death.  Not having to move my Mom again, was a great relief to us as a family.  Villa Monticello also coordinated her care with Hospice.  A good friend of mine referred me to the Dy's.  They had cared for my friend's Mom until she passed away. I'm so glad that I took my friends advice and placed my Mom with Ruby and Orlando at Villa Monticello.  The entire staff became like a family to my Mom and we are deeply grateful for them all as they came alongside us and my Mom.  With heartfelt thanks."
                    </p>

                    <cite class="green-text">
                        <strong>Jillian Heath </strong>
                    </cite>
                    <small>via <a class="a-4" href="https://www.google.com/search?rlz=1C1GGRV_enUS753US753&ei=XREFXIKbOYSM8APLt4Zg&q=villa+monticello+assisted+living&oq=villa+monticello+assisted+living&gs_l=psy-ab.3..0l2j0i22i30.443071.447354..447495...0.0..0.152.1956.5j14......0....1..gws-wiz.......0i71j35i39j0i8i13i30j0i13i5i10i30.nCJrjfLBy_Y#lrd=0x80db8b0f3b4a63eb:0xa2dd0a87388cb5a2,1,,,">Google</a></small>
                </blockquote>
            </div>
            <div class="container hidden6">
                <blockquote class="quote-card green-card">
                    <p class="text-edit">
                        "My mother has been at Villa Monticello for six months and this place is wonderful. She was in
                        a fancy assisted living facility in Fallbrook and her decline was dramatic, frightening, and
                        after a month at Villa Monticello she was herself again. I visit my mom every day and I see
                        firsthand all the activities and how much the staff really cares about these residents. Orlando
                        and Ruby are loving and caring and it flows through management and staff; everyone smiles and
                        laughs with the residents. This is a great place and the answer to my prayers, my mom is safe
                        and well cared for here." </p>

                    <cite class="white-text">
                        <strong>Deborah F. </strong>
                    </cite>
                    <small>via <a class="a-2" href="https://www.yelp.com/biz/villa-monticello-escondido">Yelp</a></small>
                </blockquote>
            </div>
            <div class="container hidden7">
                <blockquote class="quote-card white-card">
                    <p class="text-edit">
                        "This is my second review but I wanted to give some more information. My mother lived at Villa
                        Monticello for about 3 1/2 years and passed away this August. She went on hospice in mid June.
                        The facility and all the staff worked seamlessly with the hospice people continuing to provide
                        excellent and kind care. My sisters and I feel very fortunate to have found Villa Monticello.
                        Their kindness to my sisters and I and of course my mother was a reminder of the goodness you
                        can find in the world."
                    </p>

                    <cite class="green-text">
                        <strong>Beth M.</strong>
                    </cite>
                    <small>via <a class="a-4" href="https://www.yelp.com/biz/villa-monticello-escondido">Yelp</a></small>
                </blockquote>
            </div>
            <div class="container hidden8">
                <blockquote class="quote-card green-card">
                    <p class="text-edit">
                        "My father lived at villa Monticello at the end of his life. He was taken care of by an
                        excellent staff who helped him with everything. The location is beautiful and they have
                        activities for the residents. I have to say that the staff here did the best they could for my
                        father and they were very sweet and helpful to our family as well. I would recommend villa
                        Monticello for anyone who wants their loved ones cared for. Thank you villa Monticello." </p>

                    <cite class="white-text">
                        <strong>Tiff R.</strong>
                    </cite>
                    <small>via <a class="a-2" href="https://www.yelp.com/biz/villa-monticello-escondido">Yelp</a></small>
                </blockquote>
            </div>
            {{!-- <h4>I highly recommend Hilltop Country Estate if you need personalized care for your loved one. You
                and
                your loved one will feel right at home.
            </h4>
            <p class="text-edit">~ Lois & Peter M.
            </p>
            <h4>I would recommend Hilltop without a moment’s hesitation and will gladly talk to anyone who is
                considering moving their loved one there. Thank you so much for all you’ve done for my mother. Please
                send my regards and grateful thanks to your wonderful staff of caregivers for all they did for her.
            </h4>
            <p>~ Kathy S.
            </p>
            <h4>The staff at the facility was wonderful..or any other adjective that describes loving, caring
                individuals. His daily life was enhanced by their care and attentiveness to his needs. We knew my dad
                would spend his last his last days there, and when he passed away, every staff member came to say
                goodbye to him, and their tears were my tears. I have never met people like them and bless them each
                day for making his last stage of life a meaningful one.
            </h4>
            <p>~ Maureen P.</p>
        </div> --}}
    </div>
</section>