<!-- Services
    ================================================== -->
<section class="service-sec first-sec" id="services">
    <div class="container">
        <div class="row section-heading">
            <div class="col-md-8">
                <div class="heading">
                    <h2>
                        <small>Small Heading</small>Bigger Heading</h2>
                    <hr>
                </div>
            </div>
            <div class="col-md-4 section-heading-img">
                <img class="img-fluid service-logo" src="./img/Main Logo PNG.png" alt="">
            </div>
        </div>
    </div>
</section>