<!-- Basic Care
    ================================================== -->
<section class="service-sec first-sec" id="services">

    <div class="container-fluid hidden2 service-header" style="opacity:0;">
        <div class="row section-content slogan-content2">
            <div class="about-us about-us-right">
                <div class="about-us-text">
                    <h3>All-Inclusive Basic Care</h3>
                    <hr>
                    <p class="text-edit">With the understanding that each resident is unique and requires a different
                        level
                        of care, we take the time to carefully complete a pre-admission assessment prior to accepting
                        any resident in order to create an effective plan of care that will meet their individual
                        needs.

                        Our plan of care is a collaborative effort between the facility staff, family members, and
                        other interdisciplinary professionals – physical therapists, home health, hospice, etc-
                        involved in the care of the resident. A post-admission assessment is completed after 30 days to
                        evaluate the effectiveness of the plan and implement necessary modifications as deemed
                        necessary. On an annual basis, we review this plan to ensure each resident continues to receive
                        consistent and quality care.</p>
                    {{!-- <a id="scroll-to" href="#scroll-to" class="btn-services scroll-to">SEE MORE&nbsp;&nbsp;<i
                            class="fa fa-angle-down"></i></a> --}}
                </div>
            </div>
        </div>
    </div>

    <div class="container hidden4" style="opacity:0;">
        <div class="accordion" id="accordionExample">
            <div class="card">
                <div class="card-header" id="headingOne">
                    <h5 class="mb-0">
                        <a class="btn btn-link" id="scroll-target" data-toggle="collapse" data-target="#collapseOne"
                            aria-expanded="true" aria-controls="collapseOne">
                            Direct Care, Assistance and Monitoring
                        </a>
                    </h5>
                </div>

                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                    <div class="card-body row">
                        <ul class="col-lg-6 dcp-list">
                            <li>24 hour care of monitoring, supervision and assistance as needed
                            </li>
                            <li>Assist with showers and daily hygiene including shaving
                            </li>
                            <li>Assist with hearing aids and eye glasses and other appliance</li>
                            <li>Toileting and incontinent care
                            </li>
                            <li>Night monitoring and assistance as needed
                            </li>
                            <li>Observation and reporting of any abnormal conditions to the primary care physician and
                                family/responsible party
                            </li>
                            <li>1 person minimal assist with transfer and mobility
                            </li>
                        </ul>
                        <ul class="col-lg-6 dcp-list">
                            <li>Minor wound /skin care
                            </li>
                            <li>Coordinate and work with outside services as per Doctor’s order such as home health,
                                hospice
                                care, physical and occupational
                                therapy..
                            </li>
                            <li>Schedule medical and dental appointments and arrange transportation upon request
                            </li>
                            <li>Hospice Care
                            </li>
                            <li>Call 911 or emergency transport in case of any incidence that will require emergency
                                treatment.
                                Cost to be paid by
                                Resident’s responsible party
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingTwo">
                    <h5 class="mb-0">
                        <a class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo"
                            aria-expanded="false" aria-controls="collapseTwo">
                            Meals Management
                        </a>
                    </h5>
                </div>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                    <div class="card-body">
                        <ul>
                            <li>3 Nutritious meals plus snacks . Unlimited beverages not unless contraindicated
                            </li>
                            <li>Escort to and from meals and activities as needed
                            </li>
                            <li>Assistance and monitoring of meals and diet as prescribed by physician
                            <li>Modified diet as per Doctor’s order ( ex. Low salt , low sugar, soft or pureed)
                            </li>
                            <li>Observe and report any changes in appetite and ability to swallow or allergies to food.
                            </li>
                            <li>Encourage fluid intake except when contraindicated
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingThree">
                    <h5 class="mb-0">
                        <a class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree"
                            aria-expanded="false" aria-controls="collapseThree">
                            Medication Management
                        </a>
                    </h5>
                </div>
                <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                    <div class="card-body">
                        <ul>
                            <li>
                                Medications centrally stored and locked in a med cart
                            </li>
                            <li>
                                Properly dispense medicines as per Doctors order by trained med tech
                            </li>
                            <li>
                                Proper inventory and documentation of medications including narcotics
                            </li>
                            <li>
                                In charge with order of new meds and refills of routine and PRN medications
                            </li>
                            <li>
                                Proper destruction of discontinued and expired medications
                            </li>
                            <li>Observation and reporting of possible allergic reactions and bad side effects of
                                medications
                                given</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingFour">
                    <h5 class="mb-0">
                        <a class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFour"
                            aria-expanded="false" aria-controls="collapseFour">
                            Social, Mental, Emotional and Behavioral Support
                        </a>
                    </h5>
                </div>
                <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
                    <div class="card-body">
                        <ul>
                            <li>
                                Stimulating activities that promote wellness, mental stimulation and socialization
                            </li>
                            <li>
                                Observe and report any changes in moods and behavior, mental capacity and emotional
                                status
                            </li>
                            <li>
                                Managing “sundowning” behavior by redirecting and providing closer attention and
                                supervision
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingFive">
                    <h5 class="mb-0">
                        <a class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFive"
                            aria-expanded="false" aria-controls="collapseFive">
                            Housekeeping, Laundry Services and Basic Supplies
                        </a>
                    </h5>
                </div>
                <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordionExample">
                    <div class="card-body">
                        <ul>
                            <li>
                                Basic housekeeping
                            </li>
                            <li>
                                Basic toiletries supplies
                            </li>
                            <li>
                                Laundry service for regular clothes . no dry clean and no washing of fine clothes
                            </li>
                            <li>
                                Basic toiletries and hygiene supplies
                            </li>
                            <li>
                                Incontinent Supplies
                            </li>
                            <li>
                                Basic bedroom furnitures ( twin size bed, side table, lamp, chair , Dresser or closet
                            </li>
                            <li>
                                Linens, sheets, pillows, blankets included
                            </li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>
        {{!-- <div class="offset-lg-8">
            <a href="/SS" class="btn-services btn-services-next">See Special Services&nbsp;&nbsp;<i class="fa fa-angle-right"></i></a>
        </div> --}}
    </div>

    <div class="container-fluid hidden5 service-header" style="opacity:0;">
        <div class="row section-content slogan-content3">
            <div class="about-us about-us-right">
                <div class="about-us-text">
                    <h3>Special Services</h3>
                    <hr>
                    <p class="text-edit">Our staff is specially trained to provide compassionate care and they continue
                        to receive
                        on-going training to ensure our high standards of care are met. We strive to provide a
                        specialized program of care, and go above and beyond to ensure that all our residents' needs
                        are taken care of.</p>
                    {{!-- <a id="scroll-to" href="#scroll-to" class="btn-services">SEE MORE&nbsp;&nbsp;<i class="fa fa-angle-down"></i></a>
                    --}}
                </div>
            </div>
        </div>
    </div>

    <div class="container hidden6" style="opacity:0;">
        <div class="accordion" id="accordionExample2">
            <div class="card">
                <div class="card-header" id="headingSeven">
                    <h5 class="mb-0">
                        <a class="btn btn-link" id="scroll-target" data-toggle="collapse" data-target="#collapseSeven"
                            aria-expanded="true" aria-controls="collapseSeven">
                            Direct Care, Assistance and Monitoring
                        </a>
                    </h5>
                </div>

                <div id="collapseSeven" class="collapse show" aria-labelledby="headingSeven" data-parent="#accordionExample">
                    <div class="card-body row">
                        <ul class="col-lg-6 dcp-list">
                            <li>
                                Conditions that require special care and supervision in addition to their current
                                level of care
                            </li>
                            <li>
                                State Licensing exemption rules required*
                            </li>
                            <li>
                                Gastrostomy*
                            </li>
                            <li>
                                Wound Care (Stage 3 or 4)*
                            </li>
                            <li>
                                Diabetic/Insulin Care*
                            </li>
                            <li>
                                Bedbound or Bedridden
                            </li>
                        </ul>
                        <ul class="col-md-6 dcp-list">
                            <li>
                                Wheelchair-bound with 2-person transfer
                            </li>
                            <li>
                                Mechanical transfer (hoyer lift)
                            </li>
                            <li>
                                Catheter Care
                            </li>
                            <li>
                                Oxygen
                            </li>
                            <li>
                                Special behavioral issues ( Combative, physically aggressive, wandering, pacing ..)
                            </li>
                            <li>
                                Other conditions ...
                            </li>
                        </ul>
                    </div>
                    <p>
                        <small>*State Licensing Exemption Rules Required</small>
                    </p>
                </div>
            </div>
        </div>
        {{!-- <div class="col-lg-4 prev-correct">
            <a href="/AIBC" class="btn-services btn-services-prev"><i class="fa fa-angle-left"></i>&nbsp;&nbsp;See
                Basic Care</a>
        </div>
        <div class="offset-lg-8">
            <a href="/DCP" class="btn-services btn-services-next">See Dementia Care&nbsp;&nbsp;<i class="fa fa-angle-right"></i></a>
        </div> --}}
    </div>

    <div class="container-fluid hidden7 service-header" style="opacity:0;">
        <div class="row section-content slogan-content4">
            <div class="about-us about-us-right">
                <div class="about-us-text">
                    <h3>Dementia Care</h3>
                    <hr>
                    <p class="text-edit">At Hilltop Country Estate, we recognize the need to provide individualized
                        care for seniors who
                        have either physical or mental challenges, and in some cases both. This requires a special
                        knowledge, understanding, sensitivity, and commitment to meet their ever-changing level of
                        needs for personal care and supervision.</p>
                    {{!-- <a id="scroll-to" href="#scroll-to" class="btn-services scroll-to">SEE MORE&nbsp;&nbsp;<i
                            class="fa fa-angle-down"></i></a> --}}
                </div>
            </div>
        </div>
    </div>

    <div class="container hidden8" style="opacity:0;">
        <div class="accordion" id="accordionExample3">
            <div class="card">
                <div class="card-header" id="headingEight">
                    <h5 class="mb-0">
                        <a class="btn btn-link" id="scroll-target" data-toggle="collapse" data-target="#collapseEight"
                            aria-expanded="true" aria-controls="collapseEight">
                            Dementia Program 5-Point Strategy (C.A.R.E.S.)
                        </a>
                    </h5>
                </div>

                <div id="collapseEight" class="collapse show" aria-labelledby="headingEight" data-parent="#accordionExample">
                    <div class="card-body row">
                        <ul class="dcp-list">
                            <li>
                                <strong>C</strong>areful assessment of each resident’s unique and individual needs
                            </li>
                            <li>
                                <strong>A</strong>dapt and implement a program/service plan developed to meet the ever-changing needs of our residents
                            </li>
                            <li>
                                <strong>R</strong>eview and assess on a regular basis the program and plan of care implemented to evaluate its effectiveness and relevance
                            </li>
                            <li>
                                <strong>E</strong>mpower the residents with dementia and the staff of caregivers, families, friends and medical professional by building a positive partnership toward achieving a common goal
                            </li>
                            <li>
                                <strong>S</strong>ecure a safe environment essential to the total well being of our residents
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        {{!-- <div class="col-lg-4 prev-correct">
            <a href="/SS" class="btn-services btn-services-prev"><i class="fa fa-angle-left"></i>&nbsp;&nbsp;See
                Special Services</a>
        </div>
        <div class="offset-lg-8">
            <a href="/OPC" class="btn-services btn-services-next">See Other Care Programs&nbsp;&nbsp;<i class="fa fa-angle-right"></i></a>
        </div> --}}
    </div>

    <div class="container-fluid hidden9 service-header" style="opacity:0;">
        <div class="row section-content slogan-content5">
            <div class="about-us about-us-right">
                <div class="about-us-text">
                    <h3>Other Programs of Care</h3>
                    <hr>
                    <p class="text-edit">Each day, our residents are gently and safely engaged in mental and physical
                        activities that are
                        stimulating and beneficial for their overall wellbeing. Our activities are personalized to each
                        resident’s interests as well as physical and mental capabilities. Our goal is to help each
                        resident experience enjoyable and meaningful moments every day.</p>
                    {{!-- <a id="scroll-to" href="#scroll-to" class="btn-services scroll-to">SEE MORE&nbsp;&nbsp;<i
                            class="fa fa-angle-down"></i></a> --}}
                </div>
            </div>
        </div>
    </div>

    <div class="container hidden10" style="opacity:0;">
        <div class="accordion" id="accordionExample4">
            {{!-- <div class="card">
                <div class="card-header" id="headingTen">
                    <h5 class="mb-0">
                        <a class="btn btn-link collapsed" id="collapseTen" data-toggle="collapse" data-target="#collapseTen"
                            aria-expanded="false" aria-controls="collapseTen">
                            Planned Daily Activities
                        </a>
                    </h5>
                </div>

                <div id="collapseTen" class="collapse" aria-labelledby="headingTen" data-parent="#accordionExample">
                    <div class="card-body">
                        <p>
                            Engaging in meaningful activities to help maintain their functional abilities, enhance
                            their self
                            esteem, and provide social
                            interaction. Our activities are tailored to the residents capabilities, interests, and
                            preferences
                            while still providing
                            a sense of fulfillment, pleasure and stimulation.
                        </p>
                    </div>
                </div>
            </div> --}}
            <div class="card">
                <div class="card-header" id="headingTen">
                    <h5 class="mb-0">
                        <a class="btn btn-link" data-toggle="collapse" data-target="#collapseTen"
                            aria-expanded="true" aria-controls="collapseTen">
                            Planned Daily Activities 
                        </a>
                    </h5>
                </div>
                <div id="collapseTen" class="collapse show" aria-labelledby="headingTen" data-parent="#accordionExample4">
                    <div class="card-body">
                        <p>Engaging in meaningful activities to help maintain their functional abilities, enhance
                            their self
                            esteem, and provide social
                            interaction. Our activities are tailored to the residents capabilities, interests, and
                            preferences
                            while still providing
                            a sense of fulfillment, pleasure and stimulation.
                        </p>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingEleven">
                    <h5 class="mb-0">
                        <a class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseEleven"
                            aria-expanded="false" aria-controls="collapseEleven">
                            Fall Prevention
                        </a>
                    </h5>
                </div>
                <div id="collapseEleven" class="collapse" aria-labelledby="headingEleven" data-parent="#accordionExample4">
                    <div class="card-body">
                        <p>Our goal is to provide a safe environment for our residents and preserve mobility by
                            reducing the
                            risk of fall and fall
                            related injuries. Our facility is retrofitted with proper handrails and grab bars, bedrooms
                            are
                            spacious and accommodating
                            and there is a vast landscaped outdoor area for exercise and and ambulation to strengthen
                            their
                            legs and stimulate
                            their senses. Most importantly, we provide sufficient staff to oversee the residents
                            activities and
                            prevent accidental
                            falls.
                        </p>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingTwelve">
                    <h5 class="mb-0">
                        <a class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwelve"
                            aria-expanded="false" aria-controls="collapseTwelve">
                            Pain Management
                        </a>
                    </h5>
                </div>
                <div id="collapseTwelve" class="collapse" aria-labelledby="headingTwelve" data-parent="#accordionExample4">
                    <div class="card-body">
                        <p>
                            Pain is difficult to assess and usually improperly treated with residents suffering from
                            dementia
                            due to their inability
                            to effectively communicate. Our goal is to be able to recognize and manage their pain in a
                            systematic and effective
                            manner to relieve their distress and agitation caused by untreated or under treated pain
                        </p>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingThirteen">
                    <h5 class="mb-0">
                        <a class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThirteen"
                            aria-expanded="false" aria-controls="collapseThirteen">
                            Skin Care and Bedsore Prevention and Treatment
                        </a>
                    </h5>
                </div>
                <div id="collapseThirteen" class="collapse" aria-labelledby="headingThirteen" data-parent="#accordionExample4">
                    <div class="card-body">
                        <p>
                            Due to limited mobility, fragility and dry skin, neglect of proper hygiene, elderly are
                            prone to
                            skin breakdown. To promote
                            healthy skin, we ensure proper nutrition, hydration, increase mobility and exercise.
                        </p>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingFourteen">
                    <h5 class="mb-0">
                        <a class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFourteen"
                            aria-expanded="false" aria-controls="collapseFourteen">
                            End of Life Care </a>
                    </h5>
                </div>
                <div id="collapseFourteen" class="collapse" aria-labelledby="headingFourteen" data-parent="#accordionExample4">
                    <div class="card-body">
                        <p>
                            Our facility has hospice waiver which allows us to continue providing care to our residents
                            when
                            they reach the final stage
                            of their disease.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        {{!-- <div class="col-lg-4 prev-correct">
            <a href="/DCP" class="btn-services btn-services-prev"><i class="fa fa-angle-left"></i>&nbsp;&nbsp;See
                Dementia Care</a>
        </div>
        <div class="offset-lg-8">
            <a href="/TCPR" class="btn-services btn-services-next">See Rates&nbsp;&nbsp;<i class="fa fa-angle-right"></i></a>
        </div> --}}
    </div>
    
</section>