<!-- Basic Care
    ================================================== -->
<section class="service-sec first-sec" id="services">
    <div class="container hidden2" style="opacity:0;">
        <div class="row section-heading">
            <div class="col-md-8">
                <div class="heading">
                    <h2>Special Care Services</h2>
                    <hr>
                    <p>Conditions that require special care and supervision in addition to their current level of care</p>
                </div>
            </div>
            <div class="col-md-4 section-heading-img">
                <img class="img-fluid service-logo" src="./img/Main Logo PNG.png" alt="">
            </div>
        </div>
        <div class="row section-content">
            <div class="col-md-4">
                <h3>Direct Care, Assistance and Monitoring</h3>
                <ul>
                    <li>
                        Conditions that require special care and supervision in addition to their current level of care
                    </li>
                    <li>
                        State Licensing exemption rules required*
                    </li>
                    <li>
                        Gastrostomy*
                    </li>
                    <li>
                        Wound Care (Stage 3 or 4)*
                    </li>
                    <li>
                        Diabetic/Insulin Care*
                    </li>
                    <li>
                        Bedbound or Bedridden
                    </li>
                    <li>
                        Wheelchair-bound with 2-person transfer
                    </li>
                    <li>
                        Mechanical transfer (hoyer lift)
                    </li>
                    <li>
                        Catheter Care
                    </li>
                    <li>
                        Oxygen
                    </li>
                    <li>
                        Special behavioral issues ( Combative, physically aggressive, wandering, pacing ..)
                    </li>
                    <li>
                        Other conditions ...
                    </li>
                </ul>
            </div>

        </div>
        <p>
            <small>*State Licensing Exemption Rules Required</small>
        </p>
    </div>
</section>