<!-- Basic Care
    ================================================== -->
<section class="service-sec first-sec" id="services">

    <div class="container-fluid hidden2 service-header" style="opacity:0;">
        <div class="row section-content slogan-content3">
            <div class="about-us about-us-right">
                <div class="about-us-text">
                    <h3>Special Services</h3>
                    <hr>
                    <p>Our staff is specially trained to provide compassionate care and they continue to receive on-going training to ensure our high standards of care are met. We strive to provide a specialized program of care, and go above and beyond to ensure that all our residents' needs are taken care of.</p>
                    <a id="scroll-to" href="#scroll-to" class="btn-services">SEE MORE&nbsp;&nbsp;<i class="fa fa-angle-down"></i></a>
                </div>
            </div>
        </div>
    </div>

    <div class="container hidden4" style="opacity:0;">
        <div class="accordion" id="accordionExample">
            <div class="card">
                <div class="card-header" id="headingOne">
                    <h5 class="mb-0">
                        <a class="btn btn-link" id="scroll-target" data-toggle="collapse" data-target="#collapseOne"
                            aria-expanded="true" aria-controls="collapseOne">
                            Direct Care, Assistance and Monitoring
                        </a>
                    </h5>
                </div>

                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                    <div class="card-body row">
                        <ul class="col-lg-6 dcp-list">
                            <li>
                                Conditions that require special care and supervision in addition to their current
                                level of care
                            </li>
                            <li>
                                State Licensing exemption rules required*
                            </li>
                            <li>
                                Gastrostomy*
                            </li>
                            <li>
                                Wound Care (Stage 3 or 4)*
                            </li>
                            <li>
                                Diabetic/Insulin Care*
                            </li>
                            <li>
                                Bedbound or Bedridden
                            </li>
                        </ul>
                        <ul class="col-md-6 dcp-list">
                            <li>
                                Wheelchair-bound with 2-person transfer
                            </li>
                            <li>
                                Mechanical transfer (hoyer lift)
                            </li>
                            <li>
                                Catheter Care
                            </li>
                            <li>
                                Oxygen
                            </li>
                            <li>
                                Special behavioral issues ( Combative, physically aggressive, wandering, pacing ..)
                            </li>
                            <li>
                                Other conditions ...
                            </li>
                        </ul>
                    </div>
                    <p>
                        <small>*State Licensing Exemption Rules Required</small>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-lg-4 prev-correct">
            <a href="/AIBC" class="btn-services btn-services-prev"><i class="fa fa-angle-left"></i>&nbsp;&nbsp;See
                Basic Care</a>
        </div>
        <div class="offset-lg-8">
            <a href="/DCP" class="btn-services btn-services-next">See Dementia Care&nbsp;&nbsp;<i class="fa fa-angle-right"></i></a>
        </div>
    </div>

</section>