<!-- Services
    ================================================== -->
<section class="service-sec first-sec" id="services">

    <div class="container-fluid hidden2 service-header" style="opacity:0;">
        <div class="row section-content slogan-content6">
            <div class="about-us about-us-right">
                <div class="about-us-text">
                    <h3>Our Rates</h3>
                    <hr>
                    <p>Our goal and philosophy is centered around supporting the resident’s uniqueness and placing an
                        emphasis on your loved one's specific needs. Treating each resident with respect and dignity,
                        as well as promoting overall wellbeing, are our top priorities.
                        We understand that caring for a resident with dementia is not a one-size-fits-all scenario.
                        With that
                        in
                        mind, we offer a range
                        of prices based on your preference of accommodation and the assistance and supervision required
                        for
                        each level of care.
                    </p>
                    <a id="scroll-to" href="#scroll-to" class="btn-services scroll-to">SEE MORE&nbsp;&nbsp;<i class="fa fa-angle-down"></i></a>
                </div>
            </div>
        </div>

    </div>
    <div class="container hidden4" style="opacity:0;">
        <div class="accordion" id="accordionExample">
            <div class="card">
                <div class="card-header" id="headingOne">
                    <h5 class="mb-0">
                        <a class="btn btn-link" id="scroll-target" data-toggle="collapse" data-target="#collapseOne"
                            aria-expanded="true" aria-controls="collapseOne">
                            Monthly Rates
                        </a>
                    </h5>
                </div>

                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-lg-5" id="headingOne">
                                <div class="charge-text-2">
                                    <h3>Villas</h3>
                                    <p class="no-pad">
                                        To determine the actual rate, we created a simple process where we carefully
                                        assess the
                                        resident’s
                                        current condition and
                                        their needs for care and supervision. After the assessment, a private
                                        conference
                                        with the family
                                        is
                                        done to discuss and
                                        finalize the reasonable cost within the price range set on our scheduled fees
                                        and additional *
                                        special care needs fees, if applicable.
                                    </p>
                                </div>
                            </div>
                            <div class="col-lg-7 container-fluid p-5">
                                <div class="row m-auto text-center w-100">

                                    <div class="col-sm-6 princing-item blue">
                                        <div class="pricing-divider">
                                            <div class="pricing-divider ">
                                                <h3 class="text-light">Villas</h3>
                                                <h4 class="my-0 display-4 text-light font-weight-normal mb-3">Main, 1</h4>
                                                <svg class='pricing-divider-img' enable-background='new 0 0 300 100'
                                                    height='100px' id='Layer_1' preserveAspectRatio='none' version='1.1'
                                                    viewBox='0 0 300 100' width='300px' x='0px' xml:space='preserve'
                                                    xmlns:xlink='http://www.w3.org/1999/xlink' xmlns='http://www.w3.org/2000/svg'
                                                    y='0px'>
                                                    <path class='deco-layer deco-layer--1' d='M30.913,43.944c0,0,42.911-34.464,87.51-14.191c77.31,35.14,113.304-1.952,146.638-4.729
	c48.654-4.056,69.94,16.218,69.94,16.218v54.396H30.913V43.944z'
                                                        fill='#FFFFFF' opacity='0.6'></path>
                                                    <path class='deco-layer deco-layer--2' d='M-35.667,44.628c0,0,42.91-34.463,87.51-14.191c77.31,35.141,113.304-1.952,146.639-4.729
	c48.653-4.055,69.939,16.218,69.939,16.218v54.396H-35.667V44.628z'
                                                        fill='#FFFFFF' opacity='0.6'></path>
                                                    <path class='deco-layer deco-layer--3' d='M43.415,98.342c0,0,48.283-68.927,109.133-68.927c65.886,0,97.983,67.914,97.983,67.914v3.716
	H42.401L43.415,98.342z'
                                                        fill='#FFFFFF' opacity='0.7'></path>
                                                    <path class='deco-layer deco-layer--4' d='M-34.667,62.998c0,0,56-45.667,120.316-27.839C167.484,57.842,197,41.332,232.286,30.428
	c53.07-16.399,104.047,36.903,104.047,36.903l1.333,36.667l-372-2.954L-34.667,62.998z'
                                                        fill='#FFFFFF'></path>
                                                </svg>
                                            </div>

                                            <div class="card-body bg-white mt-0 shadow">
                                                <ul class="list-unstyled mb-5 position-relative">
                                                    <li class="price">Shared Room <b>$4500 - $4950</b></li>
                                                    <li class="price">Private Room <b>$5000 - $6000</b></li>
                                                    {{!-- <li><b>100 </b>users included</li>
                                                    <li><b>10 GB</b> of storage</li>
                                                    <li><b>Free</b>Email support</li>
                                                    <li><b>Help center access</b></li> --}}
                                                </ul>
                                                <button onclick="location.href='/contact-smaller'" type="button" class="btn btn-lg btn-block btn-custom1">Inquire</button>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-sm-6 princing-item green">
                                        <div class="pricing-divider ">
                                            <div class="pricing-divider ">
                                                <h3 class="text-light">Villas</h3>
                                                <h4 class="my-0 display-4 text-light font-weight-normal mb-3">2, 3</h4>
                                                <svg class='pricing-divider-img' enable-background='new 0 0 300 100'
                                                    height='100px' id='Layer_1' preserveAspectRatio='none' version='1.1'
                                                    viewBox='0 0 300 100' width='300px' x='0px' xml:space='preserve'
                                                    xmlns:xlink='http://www.w3.org/1999/xlink' xmlns='http://www.w3.org/2000/svg'
                                                    y='0px'>
                                                    <path class='deco-layer deco-layer--1' d='M30.913,43.944c0,0,42.911-34.464,87.51-14.191c77.31,35.14,113.304-1.952,146.638-4.729
	c48.654-4.056,69.94,16.218,69.94,16.218v54.396H30.913V43.944z'
                                                        fill='#FFFFFF' opacity='0.6'></path>
                                                    <path class='deco-layer deco-layer--2' d='M-35.667,44.628c0,0,42.91-34.463,87.51-14.191c77.31,35.141,113.304-1.952,146.639-4.729
	c48.653-4.055,69.939,16.218,69.939,16.218v54.396H-35.667V44.628z'
                                                        fill='#FFFFFF' opacity='0.6'></path>
                                                    <path class='deco-layer deco-layer--3' d='M43.415,98.342c0,0,48.283-68.927,109.133-68.927c65.886,0,97.983,67.914,97.983,67.914v3.716
	H42.401L43.415,98.342z'
                                                        fill='#FFFFFF' opacity='0.7'></path>
                                                    <path class='deco-layer deco-layer--4' d='M-34.667,62.998c0,0,56-45.667,120.316-27.839C167.484,57.842,197,41.332,232.286,30.428
	c53.07-16.399,104.047,36.903,104.047,36.903l1.333,36.667l-372-2.954L-34.667,62.998z'
                                                        fill='#FFFFFF'></path>
                                                </svg>
                                            </div>

                                            <div class="card-body bg-white mt-0 shadow">
                                                <ul class="list-unstyled mb-5 position-relative">
                                                    <li class="price">Shared Room <b>$4000 - $4500</b></li>
                                                    <li class="price">Private Room <b>$4500 - $4900</b></li>
                                                </ul>
                                                <button onclick="location.href='/contact-larger'" type="button" class="btn btn-lg btn-block  btn-custom2">Inquire</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 prev-correct">
            <a href="/OPC" class="btn-services btn-services-prev"><i class="fa fa-angle-left"></i>&nbsp;&nbsp;See
                Other Care Programs</a>
        </div>
        <div class="col-lg-6 fine-print">
            <p>
                <small>* Rates are guidelines and may be subject to change and modification after
                    assessment and
                    evaluation of care needed.</small>
            </p>

            <p>
                <small>Range in prices are based on the special care needs required on top of the basic
                    needs and
                    services.
                </small></p>

            <p>
                <small>Special Care Needs is designed for those who has other related conditions and
                    limitations that
                    demand additional and
                    individualized care, personal attention and closer supervision.
                </small>
            </p>
        </div>

    </div>
</section>