<!-- Services
    ================================================== -->
<section class="service-sec first-sec" id="services">
    <div class="container hidden2">
        <div class="row section-heading">
            <div class="col-md-8">
                <div class="heading">
                    <h2>Total Care Pachage Rate Sheet</h2>
                    <hr>
                </div>
            </div>
            <div class="col-md-4 section-heading-img">
                <img class="img-fluid service-logo" src="./img/Main Logo PNG.png" alt="">
            </div>
        </div>
        <div class="row section-content">
            <div class="col-md-8">
                <h3>How We Charge</h3>
                <p>
                    We understand that caring for a resident with Dementia is not a “One Size Fits All” . With that in
                    mind , we offer range
                    of prices based on your choice of accommodation and the assistance and supervision required for
                    each level of care..
                    Furthermore, to minimize financial stress , we designed our rate to be All Inclusive of the basic
                    care and supplies
                    needed by each resident.
                </p>

                <p>
                    To determine the actual rate, we created a simple process where we carefully assess the resident’s
                    current condition and
                    his needs for care and supervision. After the assessment, a private conference with the family is
                    done to discuss and
                    finalize the reasonable cost within the price range set on our scheduled fees and additional *
                    special care needs fees
                    , if applicable.
                </p>
            </div>

            <div class="col-md-4">
                <h3>
                    Scheduled Fees
                </h3>

                <h4>
                    Villa 1 and Main Villa
                </h4>
                <ul>
                    <li>Shared Room $4500 - $4950</li>
                    <li>Private Room $5000- $6000</li>
                </ul>

                <h4>
                    Villa 2 and 3
                </h4>
                <ul>
                    <li>Shared Room $4000-4500</li>
                    <li>Private Room $4500- 4900</li>
                </ul>
            </div>
        </div>
        <p>
            <small>** Rates are guidelines and may be subject to change and modification after assessment and
                evaluation of care needed.</small>
        </p>

        <p>
            <small>Range in prices are based on the special care needs required on top of the basic needs and services</small>
        </p>

        <p>
            <small>Special Care Needs is designed for those who has other related conditions and limitations that
                demand additional and
                individualized care, personal attention and closer supervision.
            </small>
        </p>

    </div>
    </div>
</section>