/*--------Blog Cards--------*/
.blog-entries { 
    margin: 20px 0;
}
.card-body {
    background-image: url(../img/square-bq.png)
}
.card-body.bg-white {
    background: #fff;
}

.details-card {
    background: #ecf0f1;
}

.card-content {
	background: #ffffff;
	border: 4px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
    margin-bottom:45px;
    transition: 200ms;
}

.card-content:hover {
    transition: 200ms;
    -webkit-box-shadow: 0px 0px 19px 0px rgba(179,141,58,1);
    -moz-box-shadow: 0px 0px 19px 0px rgba(179,141,58,1);
    box-shadow: 0px 0px 19px 0px rgba(179,141,58,1);
}

.card-title {
    font-size: 36px;
    padding-top: 18px;
}

.card-img {
	position: relative;
	overflow: hidden;
	border-radius: 0;
	z-index: 0;
}

.card-img img {
	width: 100%;
	height: auto;
	display: block;
}

.category-container {
    display: flex;
    justify-content: center;
}

.card-img span {
    position: relative;
    float: left;
    /* top: 15%; */
    /* left: 10%; */
    /* margin-left: 180px; */
    background: #b38d3a;
    padding: 6px;
    color: #fff;
    font-size: 12px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    transform: translate(-50%,-50%);
}
.card-img span h4{
    margin: 0;
    font-size: 12px;
    padding:10px 5px;
    line-height: 0;
    color: #fff;
    width: 150px;
    text-align: center;
}
.card-desc, .card-img {
    background-image: url(../img/square-bq.png);
}
.card-desc {
    padding: 1.25rem;
}
.testimonial-preview{
    background-image: none;
    background: rgba(179,141,58,1)!important;
}
.card-desc h3 {
    /* color: #000000; */
    color: #402c00;
    font-weight: 600;
    font-size: 1.5em;
    line-height: 1.3em;
    margin-top: 0;
    margin-bottom: 5px;
    padding: 0;
}

.card-desc p {
	color: #747373;
    font-size: 14px;
	font-weight: 400;
	font-size: 1em;
	line-height: 1.5;
	margin: 0px;
	margin-bottom: 20px;
	padding: 0;
	/* font-family: 'Raleway', sans-serif; */
}
.btn-card, .btn-services, .btn-reviews, .btn-map{
	/* box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12); */
    padding: .74rem 1.44rem;
    font-size: 18px;
    -webkit-transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
    -o-transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
    margin: 0;
    border: 0;
    /* -webkit-border-radius: .125rem; */
    /* border-radius: .125rem; */
    cursor: pointer;
    text-transform: uppercase;
    white-space: normal;
    word-wrap: break-word;
    text-decoration: none;
    color: #fff;
}
a.btn-card {
    width: 100%;
}
.btn-card{
    background-color: #b38d3a;
}
.btn-card:hover {
    background: #402c00;
    color: #fff;
}
.btn-services, .btn-reviews, .btn-map, .btn-card2 {
    background-color: #402c00; 
}
.btn-services:hover, .btn-reviews:hover, .btn-map:hover, .btn-card2:hover{
    background: #b38d3a;
    color: #fff;
}

.btn-container {
    display: flex;
    justify-content: center;
    text-align: center;
}