@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700');
@import url('https://fonts.googleapis.com/css?family=Overlock');
@import url("https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css");
/* GLOBAL STYLES
-------------------------------------------------- */
/* Edit font size based on screen width */

/* Padding below the footer and lighter body text */
#slider-container {
		/* height: 404px; */
		height: 90vh;
		width: 100vw;
		margin: 0 auto;
		position: relative;
		overflow: hidden;
	}
	.slider {
		position: absolute;
		display: flex;
		flex-flow: row nowrap;
	}
	.slider-instant {
		transition: none;
	}
	.slider-animate {
		margin-left: 0;
	}
	.slider-extra {
		display: flex;
		flex-flow: row nowrap;
	}
	.slider-last {
		min-width: 100vw;
		max-width: 100vw;
		overflow: hidden;
	}
	.slider span {
		margin-right: 30px;
	}
	.slider .slider-extra {
		margin-right: 0;
	}
	.slider img {
		height: inherit;
		vertical-align: inherit;
		border: inherit;
		width: auto;
		height: auto;
		max-width: 400px; 
	    max-height: 400px;
	}
.home-carousel-caption {
	font-weight: bold;
	color: #fff;
	text-decoration: none;
	transition: 0.2s;
}
.home-carousel-caption:hover {
	transition: 0.2s;
	color: #b38d3a;
}
.carousel-item .home-carousel {
	/* height: 222px; */
}
.row {
	margin:0;
}
.row.section-content > div {
	padding-left:0;
	padding-right:0;
	/* min-height: 390px; */
}
.block-slogan {
	background: #ffffff00;
	padding:0px;
	display: flex;
}
.main-slider {
	box-shadow: 0 1px 2px rgba(34, 34, 34, 0.12), 0 2px 4px rgba(34, 34, 34, 0.24);
}
.block-slogan-text {
	color: #fff;
	text-shadow: 2px 1px #00000099;
	font-size:80px;
	margin: 80px;
}
.about-us {
	background: #b38d3aee;
	color:#fff;
	width: 100%;
	/* margin-left: 5.5em; */
	box-shadow: 0 1px 2px rgba(34, 34, 34, 0.12), 0 2px 4px rgba(34, 34, 34, 0.24);
}
#services-link {
	transition: 0.2s;
	color: #fff;
}
#services-link:hover {
	transition: 0.2s;
	color: #402c00;
}
/* .about-us-left {
	margin-left: 4.9em;
	width:40%;
	/* margin-right: 55%; */
} */
.gallery-preview, .gallery-preview2{
	width:40%;
}
.insta-sec {
	height: 100%;
}
.btn-card3 {
	text-transform: none;
}
#carouselExampleSlidesOnly {
	/* padding-left: 25px;
	padding-right: 25px; */
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}
.no-shift {
	transform: none !important;
	top: 0 !important;
	position: relative !important;
}
.a-1{
	color:#402c00;
	transition: 0.2s;
}
.a-3:hover, .a-4 {
	color: #b38d3a;
	transition: 0.2s;
}
.a-2, .a-4:hover {
	color: #402c00;
	transition: 0.2s;
}
.a-2:hover, .a-1:hover {
	color:#fff;
	transition: 0.2s;
}
.a-3 {
	color:#fff;
	transition:0.2s;
}
.white-text {
	color:#fff !important;
	text-shadow:2px 2px 7px rgba(0,0,0,0.09);
}
.green-text {
	color:#402c00 !important;
	text-shadow:2px 2px 7px rgba(0,0,0,0.09);
}
.green-border {
	border-color: #402c00;
}
.carousel-inner2 {
	box-shadow: 0 1px 2px rgba(34, 34, 34, 0.12), 0 2px 4px rgba(34, 34, 34, 0.24);
}
.carousel-caption {
	bottom: 40%;
}
@media (max-width: 768px) {
	#carouselExampleSlidesOnly {
		position: relative;
	}
}

.about-us-right {
    margin-right: 4.9em;
    margin-left: 55%;
}
@media (max-width: 992px) {
	/* .about-us-left {
		margin-left: 1.5em;
		margin-right: 20%;
	} */
	.about-us-right {
		margin-right: 1.5em;
		margin-left: 20%;
	}
}


.about-us-bg {
	background: #b38d3a99;
	height: 100%;
	width:100%;
}
.about-us-text {
	position: relative;
	padding: 30px;
	height: 100%;
}
.about-us-text p {
	line-height: 39px;
	font-size: 1.2vw;
	margin-bottom: 32px;
	/* margin-bottom: 50px; */
}

@media (max-width: 992px){
	.about-us-text p {
		font-size:2.2vw;
	}
	.about-us-text h3 {
		font-size:24px !important;
	}
}
@media (max-width: 576px){
	.about-us-text p {
		font-size:2.7vw;
	}
}
.about-us-text a {
	position: absolute;
	right:    0;
	bottom:   0;
}
.charge-text {
	margin: 30px;
	padding-bottom: 30px;
}
.charge-text p {
	line-height: 39px;
	/* margin-bottom: 50px; */
}
.charge-text a {
	position: absolute;
	right:    0;
	bottom:   0;
}
.charge-text-2 {
	margin: 30px;
}
.charge-text-2 p {
	line-height: 2.2em;
	font-size: 18px;
	/* padding: 20px 0 0 0 ; */
	padding-top: 9px !important;
	/* margin-bottom: 50px; */
}
.no-pad {
	padding: 0!important;
}
.charge-text-2 a {
	position: absolute;
	right:    0;
	bottom:   0;
}

.about-us h3 {
	font-size: 32px;
}
.testimonial-preview {
	height:100%;
	margin: 0;
}
.home-quote {
	color:#fff !important;
}
.btn-reviews {
	position: absolute;
	left:    0;
	bottom:   0;
	/* margin-top: 20px; */
}
.btn-map {
	position: absolute;
	right:    0;
	bottom:   0;
	/* margin-top: 20px; */
}
.blog-preview {
	min-height: 390px;
}
.overlap {
	position: absolute;
	bottom: 100px;
	/* -webkit-box-shadow: 10px 10px 0px 0px rgba(255,255,255,1);
	-moz-box-shadow: 10px 10px 0px 0px rgba(255,255,255,1);
	box-shadow: 10px 10px 0px 0px rgba(255,255,255,1); */
}
.square-shadow{
	-webkit-box-shadow: 10px 10px 0px 0px #b38d3a;
	-moz-box-shadow: 10px 10px 0px 0px #b38d3a;
	box-shadow: 10px 10px 0px 0px #b38d3a;
}
.container-fluid {
	/* width: 9vw; */
	/* background: #fff0e3; */
}
.border-light{
	border-right: 1px solid rgb(167, 167, 167);
	border-left: 1px solid rgb(167, 167, 167);
}
.separator {
	height: 0px;
	width: 100%;
	background: #b38d3a;
	border-bottom: 8px solid #402c00;
	box-shadow: 0 -2px 5px 0 rgba(0,0,0,.16), 0 -2px 10px 0 rgba(0,0,0,.12);
}
body {
	color: #5a5a5a;
	background-color: #fff0e3;
	background: url(../img/light-veneer.png);
	background-attachment: fixed;
	
	/* font-family: 'Overlock', sans-serif; */
}
a.navbar-brand {
	font-family: 'Lato';
}
h1, h2, h3, h4, h5  {
	font-family: 'Montserrat', sans-serif;
}
.parallax-section {
	background-attachment: fixed!important;
}
.btn-important {
	z-index: 1;
}
.btn-capsul {
	border-radius: 30px;
}
.btn-center {
	margin: 0 auto;
	margin-top: 50px;
}
.btn-aqua {
	background: #b38d3a;
	color: #fff;
}
.btn-aqua:hover {
	background: #402c00;
	color: #fff;
}
.btn-dark-blue {
	background: #0C242E;
	color: #fff;
}
.btn-dark-blue:hover {
	background: #063d28;
	color: #fff;
}
.btn-transparent-black {
	border: 2px solid #000;
	color: #000;
}
.btn-transparent-white {
	border: 2px solid #fff;
	color: #fff;
}
.btn-transparent-white:hover, .btn-transparent-white:focus {
	background: #fff;
	color: #402c00
}
.relative-box {
	position: relative;
}
.map-container {
	position: absolute;
	float: left;
	clear: both; 
	width: 100%;
	height: 100%;
}
.contact-text {
	font-size: 12px;
	padding:0 !important;
}
.slogan-content {
	background-image: url(../img/old_couple.jpg);
	min-height: 90vh;
	/* min-height:550px; */
	background-size: cover;
	/* background: #b38d3a33; */
	padding: 80px 0px;
	box-shadow: 0 1px 2px rgba(34, 34, 34, 0.12), 0 2px 4px rgba(34, 34, 34, 0.24);
}
.slogan-content2 {
	background-image: url(../img/grandma2.jpg);
	min-height: 90vh;
	/* min-height:550px; */
	background-size: cover;
	/* background: #b38d3a33; */
	padding: 80px 0px;
	box-shadow: 0 1px 2px rgba(34, 34, 34, 0.12), 0 2px 4px rgba(34, 34, 34, 0.24);
}
.slogan-content3 {
	background-image: url(../img/ball.jpg);
	
	min-height: 90vh;
	/* min-height:550px; */
	background-size: cover;
	/* background: #b38d3a33; */
	padding: 80px 0px;
	box-shadow: 0 1px 2px rgba(34, 34, 34, 0.12), 0 2px 4px rgba(34, 34, 34, 0.24);
}
.slogan-content4 {
	background-image: url(../img/book2.jpg);
	min-height: 90vh;
	/* min-height:550px; */
	background-size: cover;
	/* background: #b38d3a33; */
	padding: 80px 0px;
	box-shadow: 0 1px 2px rgba(34, 34, 34, 0.12), 0 2px 4px rgba(34, 34, 34, 0.24);
}
.slogan-content5 {
	background-image: url(../img/cane.jpg);
	min-height: 90vh;
	/* min-height:550px; */
	background-size: cover;
	/* background: #b38d3a33; */
	padding: 80px 0px;
	box-shadow: 0 1px 2px rgba(34, 34, 34, 0.12), 0 2px 4px rgba(34, 34, 34, 0.24);
}
.slogan-content6 {
	background-image: url(../img/notepad.jpg);
	min-height: 90vh;
	/* min-height:550px; */
	background-size: cover;
	/* background: #b38d3a33; */
	padding: 80px 0px;
	box-shadow: 0 1px 2px rgba(34, 34, 34, 0.12), 0 2px 4px rgba(34, 34, 34, 0.24);
}
.slogan-content7 {
	background-image: url(../img/backyard-house.jpg);
	min-height: 90vh;
	/* min-height:550px; */
	background-size: cover;
	/* background: #b38d3a33; */
	padding: 80px 0px;
	box-shadow: 0 1px 2px rgba(34, 34, 34, 0.12), 0 2px 4px rgba(34, 34, 34, 0.24);
}
.white-bg {
	/* background-image: url(../img/qwoeiuohevjahbhvfkdbacdlsajblliuewhfag.png); */
	background: #b38d3a;
}
.gallery-header {
	padding: 50px 0 0 21px;
}
.gallery-header h3 {
    margin-left: auto;
    padding-right: 18px;
}
section {
	float: left;
	width: 100%;
}
.section-heading {
	margin-bottom: 70px;
	display: flex;
	align-items: center;
}

.section-content {
	padding: 65px 0 65px 0;
	/* -webkit-box-shadow: 0px 12px 52px -17px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 12px 52px -17px rgba(0,0,0,0.75);
	box-shadow: 0px 12px 52px -17px rgba(0,0,0,0.75); */
	/* margin-bottom: 50px; */
}
.section-content h3{
	padding: 0 21px;
}

.section-heading-img {
	display: flex;
	justify-content: center;
	align-items: center;
}

.first-sec {
	margin-top:50px;
}

.contact-margin{
	margin: 20px 0 50px 0;
}
.form-container {
	height:100%;
	/* border: 8px solid #b38d3a; */
	color: #402c00;
    /* background-image: url(../img/qwoeiuohevjahbhvfkdbacdlsajblliuewhfag.png); */
	width:100%;
	padding: 20px;
	/* box-shadow: 0 1px 2px rgba(34, 34, 34, 0.12), 0 2px 4px rgba(34, 34, 34, 0.24); */
	/* margin: 0 20px; */
}
.maps-container {
	/* border: 8px solid #b38d3a; */
}
@media (max-width: 992px) {
	.box1, .box2, .box3 {
		height: 100px !important;
	}
}
.shadow {
	box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
}
.form-control {
	border-radius: 0;
	border: none;
    background: #ffffffee;
}

.text-muted {
	/* color: #b38d3a !important; */
}
#submit:hover {
	color: #b38d3a;
	background: #fff;
}
.obvi-link {
	text-decoration: underline;
}
/* .hidden1, .hidden2, .hidden3, {
	opacity: 0;
} */
.carousel-text {
    padding: 20px 20px 30px 20px;
	z-index: 20;
	margin-right: 4.9em;
	margin-bottom: 1.5em;
	bottom: 0;
	right: 0;
	position: absolute;
	background: #b38d3a;
	color:#fff;
	width:40%;
	/* margin-left: 5.5em; */
	box-shadow: 0 1px 2px rgba(34, 34, 34, 0.12), 0 2px 4px rgba(34, 34, 34, 0.24);
}
.carousel-text {
	text-align: center;
	background: #b38d3aee;
}
.welcome-home {
	font-size: 48px;
	padding: 0 !important;
}
@media (max-width: 1255px) {
	.welcome-home {
		font-size: 36px;
	}
}
@media (max-width: 1004px) {
	.welcome-home {
		font-size: 28px;
	}
}
@media (max-width: 731px) {
	.welcome-home {
		font-size: 20px;
	}
}
@media (max-width: 586px) {
	.welcome-home {
		font-size: 14px;
		padding: 0;
		padding-left: 10px;
		padding-right: 10px;
	}
}
@media (max-width: 415px) {
	.welcome-home {
		font-size: 13px;
	}
}
@media (max-width: 1125px) {
	.carousel-text a {
		font-size: 14px;
	}
}
@media (max-width: 415px) {
	.carousel-text a {
		font-size: 12px;
	}
}

/* Instagram Slider 
...................................................*/

/* Map/Contact
...................................................*/
/* =======================================
 post
========================================*/
.post {
	position: relative;
	width: 92vw;
	height: auto;
	margin: auto;
	margin-bottom: 1rem;
	background-color: #fff;
	color: #000;
	border-radius: 5px;
	margin-bottom: 3rem;
  }
  .post .caption {
	position: relative;
	height: inherit;
	background-color: inherit;
	padding: 10px;
  }
  .post .content {
	position: relative;
	height: inherit;
	padding: 10px;
  }
  .post .content .img {
	width: 100%;
	height: auto;
  }
  .post .author {
	position: relative;
	margin-bottom: 3rem;
  }
  .post .author .avatar {
	position: relative;
	float: left;
	width: 3rem;
	border-radius: 50%;
  }
  .post .author .name {
	position: relative;
	float: left;
	font-size: 1rem;
	font-weight: 500;
	padding-left: 1rem;
  }
  .post .meta {
	float: left;
	padding-left: 1rem;
	size: .6rem;
	color: #000;
  }
  .post .caption .text {
	margin: .5rem 0;
  }
  .post .category {
	visibility: hidden;
  }
  
  /*=== Large devices (desktops, 992px and up) ===*/
  @media (min-width: 992px) {
  .post {
	width: 75vw;
	height: 100%; 
  }
  .post .caption {
	float: left;
	padding: 2rem;
  }
  .post .author {
	margin-bottom: 5rem;
  }
  .post .author .avatar {
  }
  .post .author .name {
  }
  .post .caption .meta {
  }
  .post .caption .text {
	margin: 1rem 0;
  }
  .post .content {
	float: left;
	padding: 0;
  }
  .post .content .img {
	height: 100%;
  }
  .post .category {
	visibility: visible;
  }
}

/*=== Large devices (desktops, 992px and up) ===*/
@media (min-width: 992px) {
	#post2 {
	}
	#post2 .caption {
	  width: 30%;
	}
	#post2 .content {
	  width: 70%;
	}
	#post2 .caption .content {
	  position: absolute;
	  left: 50%;
	  top: 50%;
	  height: auto;
	  padding: 0;
	  transform: translate(-50%, -50%);
	  text-align: center;
	}
	#post2 .author  {
	  margin: 2rem;
	}
	#post2 .author .avatar {
	  float: none;
	  width: 5rem;
	  margin: 1rem;
	}
	#post2 .author .name {
	  float: none;
	}
	#post2 .caption .text {
	  color: #212226;
	}
}


/* TOP HEADER
-------------------------------------------------- */

.navbar.top-bar {
	border-radius: 0;
	padding: 6px 0;
	z-index: 6;
	border-bottom: 8px solid #402c00;
	box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
}
.navbar-toggler {
	/* width: 30px; */
	position: absolute;
	top: 1px;
	right: 10px;
	color: #000;
	border: none;
	color: #402c00;
}

.navbar-toggler:focus {
	outline: none;
}

.navbar-toggler-icon i{
	margin-top:5px;
}
.sps {
	padding: 1em .5em;
	position: fixed;
	top: 0;
	left: 0;
	transition: all 0.25s ease;
	width: 100%;
	color: #000;
	background: #fff0e3;
}


.top-bar a.navbar-brand {
	/* color: #fff; */
	font-size: 26px;
	font-weight: 800;
	padding: 5px 0 0 10px;
	/* text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.85); */
	text-transform: uppercase;
}
.sps.top-bar a.navbar-brand {
	color: #000;
	text-shadow: 0px 0px 5px rgba(255, 255, 255, 0);
}
.top-bar a.navbar-brand span {
	color: #b38d3a;
	transition: 0.2s;
}
.top-bar .nav-link {
	/* color: #fff; */
	font-size: 14px;
	font-weight: 500;
	padding: 12px 18px!important;
	border-bottom: 2px solid #00000000;
	color: #000;
	transition: 0.2s
}
.top-bar .navbar-nav .nav-item {
	margin: 0
}
.top-bar .nav-link:hover, .top-bar .nav-item.active {
	color: #b38d3a;
	border-bottom: 2px solid #b38d3a;
	border-radius: 0;
}
.nav-item.active:hover {
	border: none;
}

.nav-item a {
	overflow: hidden;
}
.sps--blw.top-bar .nav-link:hover {
	color: #b38d3a;
	border-radius: 0;
}

.sps--blw.top-bar .nav-item.active {
	color: #000;
	border-radius: 0;
}

.dropdown-menu {
	background: #fff0e3;
}
.dropdown-item:hover {
	transition: 0.2s;
	background: #b38d3a;
	color: #fff;
}

.dropdown:hover .dropdown-menu {
	display:block;
}

.dropdown-divider {
	border-color: #402c00;
}

.navbar-brand.mx-auto {
	padding-left: 0;
	transition: 0.2s;
}

a.logo-brand {
	position: absolute;
	border-bottom: 8px solid #402c00;
	background: #fff0e3;
	height: 250px;
	transition: 0.2s;
	/* box-shadow: 0 1px 2px rgba(34, 34, 34, 0.12), 0 2px 4px rgba(34, 34, 34, 0.24); */

}
a.logo-brand img {
	height: 55%;
    margin-top: 6.3rem;
    margin-right: 14px;
    margin-left: 14px;
}

@media (max-width: 1200px) {
	a.navbar-brand.mx-auto {
		font-size: 16px;
	}
	
}

@media (max-width: 992px) {
	.map-expand {
		min-height: 360px;
	}
	.map-expand iframe {
		min-height: 360px;
	}
}
@media (max-width: 992px) {
	a.navbar-brand.mx-auto {
		font-size: 26px;
	}
	.block-slogan {
		display: none;
	}
	.block-slogan-text {
		color: #b38d3a;
		font-size:80px;
		margin: 50px;
		text-align: center;
	}
	.row.section-content > div {
		padding-left:0;
		padding-right:0;
		/* min-height: 300px; */
	}
	.carousel-inner {
		max-height: auto;
	}
}
@media (max-width: 767.5px) {
	a.navbar-brand.mx-auto {
		font-size: 20px;
		margin-left: 20px !important;
		margin-right: 0 !important;
	}
	.carousel-inner {
		max-height: auto;
	}
	.carousel-item .home-carousel {
		height: auto;
	}
}

/* SERVICES SECTION
-------------------------------------------------- */

.service-sec .heading {
	float: left;
	width: 100%;
	/* margin-bottom: 70px; */
	text-align:center;
}
.service-sec h2 {
	display: block;
	text-transform: capitalize;
	font-weight: 600;
	/* color: #b38d3a; */
	/* font-size: 32px; */
}
.service-sec h2 small {
	color: #222;
	display: block;
	font-size: 22px;
	margin-bottom: 18px;
}
/* .service-sec i {
	border: 1px solid #402c00;
	border-radius: 2px;
	font-size: 25px;
	padding: 12px 0;
	width: 52px;
	color: #402c00;
	margin-bottom: 20px */
}
.fa-arrow-right {
	font-weight: lighter;
}
.service-sec h3 {
	font-size: 36px;
	font-weight: 600;
	color: #402c00;
}
.service-sec p {
	/* line-height: 26px; */
	/* margin: 32px 0; */
	padding: 0 21px;
}
.service-sec .service-block {
	margin-top: 30px;
}


/* ABOUT SECTION
-------------------------------------------------- */
.about-sec {
	/* background: url('http://grafreez.com/wp-content/temp_demos/burnout/img/para-01.jpg') no-repeat center center; */
	background: url('../img/house-symmetric.jpg') no-repeat center center;
	background-size: cover;
	color: #fff;
	position: relative;
}
.about-sec:before {
	content: ' ';
	position: absolute;
	width: 100%;
	height: 100%;
	background: rgba(179, 141, 58, 0.85);
	top: 0;
	left: 0
}
.about-sec h2 {
	font-size: 55px;
	font-weight: 800;
	margin-top: 15%;
}
.about-sec h2 small {
	display: block;
	font-size: 24px;
	margin-bottom: 15px;
	padding-left: 10px;
}
.about-sec p {
	font-size: 16px;
}

/* GALLERY SECTION
-------------------------------------------------- */

.gallery-sec .heading {
	float: left;
	width: 100%;
	margin-bottom: 70px;
	text-align:center;
}
.gallery-sec h2 {
	display: block;
	text-transform: capitalize;
	font-weight: 600;
	color: #E5D4C0;
	font-size: 32px;
}
.gallery-sec h2 small {
	color: #222;
	display: block;
	font-size: 22px;
	margin-bottom: 18px;
}
.gallery-sec i {
	border: 1px solid #E5D4C0;
	border-radius: 2px;
	font-size: 25px;
	padding: 12px 0;
	width: 52px;
	color: #E5D4C0;
	margin-bottom: 20px
}
.gallery-sec h3 {
	font-size: 23px;
	font-weight: 600;
}
.gallery-sec p {
	line-height: 22px;
	margin-top: 13px;
	padding: 0 21px;
}
.gallery-sec .service-block {
	margin-top: 30px;
}

/* CONTACT/MAPS SECTION
-------------------------------------------------- */
#map{
	height: 300px;
	width: 100%;
	-webkit-box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.55);
	-moz-box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.55);
	box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.55);
	/* border: 1px solid black; */
}
.contact-sec {
	/* background: url('http://grafreez.com/wp-content/temp_demos/burnout/img/para-01.jpg') no-repeat center center; */
	background: url('../img/house-symmetric.jpg') no-repeat center center;
	background-size: cover;
	color: #fff;
	position: relative;
}
.contact-sec:before {
	content: ' ';
	position: absolute;
	width: 100%;
	height: 100%;
	/* z-index: 4; */
	background-color: rgba(229, 212, 192, 0.85);
	top: 0;
	left: 0;
}
.contact-sec h2 {
	font-size: 55px;
	font-weight: 800;
	margin-top: 25%;
}
.contact-sec h2 small {
	display: block;
	font-size: 24px;
	margin-bottom: 15px;
	padding-left: 10px;
}
.contact-sec p {
	font-size: 16px;
}

/* FOOTER SECTION
-------------------------------------------------- */
.img-container {
	/* width:100%;
	height:80%; */
	display:flex;
	justify-content: center;
}
.img-container img {
	/* height:65%; */
	/* width:65%; */
}
@media (max-width: 767.5px){
	.img-container img {
		height:25%;
		width:25%;
	}
}
@media (max-width: 576px){
	.img-container img {
		height:50%;
		width:50%;
	}
}
.footer-sec {
	padding: 60px 0 0 0;
	box-shadow: 0 -1px 5px 0 rgba(0,0,0,.16), 0 -1px 10px 0 rgba(0,0,0,.12);

}
.footer-sec{
	width: 100%;
	float: left;
	background: #b38d3a;
	background: #402c00;
	/* background-image: url(../img/qwoeiuohevjahbhvfkdbacdlsajblliuewhfag.png); */
}
.footer-sec h3{
	text-align: center;
	color: #000;
	color: #b38d3a;
	/* font-weight: bold; */
}

.footer-sec p {
	color: #fff;
}
.footer-sec li {
	color: #fff;
}
.recommended-homes {
	text-align: left;
}
.footer-box{
	float: left;
	width: 100%;
	text-align: center;
}
.footer-box h2{
	color: #fff;
	font-size: 20px;
}
.footer-text {
	font-size:10px;
	color: #fff;
	text-align: center;
	/* padding-top: 50px; */
}
.line {
	color: #fff;
	/* padding: 0 5%; */
	text-align: center;
	padding-bottom: 20px;
}

/*=========================
  Icons
 ================= */

/* footer social icons */
ul.social-network {
	list-style: none;
	display: flex;
	justify-content: center;
	margin-left:0 !important;
	padding: 0;
}
ul.social-network li {
	display: inline;
	margin: 0 5px;
}
/* footer social icons */
.social-network a:hover {
	transition: 0.2s;
}
.social-network a.icoYouTube:hover{
	background-color: rgb(209, 0, 0);
}
.social-network a.icoYelp:hover {
	background-color: #d32323;
}
.social-network a.icoFacebook:hover {
	background-color:#3B5998;
}
.social-network a.icoInstagram:hover {
	background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%); 
	background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
	background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
}
.social-network a.icoYelp:hover i, .social-network a.icoFacebook:hover i, .social-network a.icoTwitter:hover i,
.social-network a.icoGoogle:hover i, .social-network a.icoVimeo:hover i, .social-network a.icoLinkedin:hover i {
	color:#fff;
}
a.socialIcon:hover, .socialHoverClass {
	color:#44BCDD;
}
.social-circle li a {
	border: 1px solid #fff;
	display:inline-block;
	position:relative;
	margin:0 auto 0 auto;
	-moz-border-radius:50%;
	-webkit-border-radius:50%;
	border-radius:50%;
	text-align:center;
	width: 50px;
	height: 50px;
	font-size:20px;
    background: #b38d3add;
    transition: 0.2s;
}
.social-circle li i {
	margin:0;
	line-height:50px;
	text-align: center;
}
.social-circle li a:hover i, .triggeredHover {
	-moz-transform: rotate(360deg);
	-webkit-transform: rotate(360deg);
	-ms--transform: rotate(360deg);
	transform: rotate(360deg);
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-o-transition: all 0.2s;
	-ms-transition: all 0.2s;
	transition: all 0.2s;
}
.social-circle i {
	color: #fff;
	-webkit-transition: all 0.8s;
	-moz-transition: all 0.8s;
	-o-transition: all 0.8s;
	-ms-transition: all 0.8s;
	transition: all 0.8s;
}

.text-edit {
	font-size: 20px!important;
    letter-spacing: 0.4px!important;
    line-height: 29px!important;
}
/**
 * Swiper 3.4.0
 * Most modern mobile touch slider and framework with hardware accelerated transitions
 * 
 * http://www.idangero.us/swiper/
 * 
 * Copyright 2016, Vladimir Kharlampidi
 * The iDangero.us
 * http://www.idangero.us/
 * 
 * Licensed under MIT
 * 
 * Released on: October 16, 2016
 */
.swiper-container{margin-left:auto;margin-right:auto;position:relative;overflow:hidden;z-index:1}.swiper-container-no-flexbox .swiper-slide{float:left}.swiper-container-vertical>.swiper-wrapper{-webkit-box-orient:vertical;-moz-box-orient:vertical;-ms-flex-direction:column;-webkit-flex-direction:column;flex-direction:column}.swiper-wrapper{position:relative;width:100%;height:100%;z-index:1;display:-webkit-box;display:-moz-box;display:-ms-flexbox;display:-webkit-flex;display:flex;-webkit-transition-property:-webkit-transform;-moz-transition-property:-moz-transform;-o-transition-property:-o-transform;-ms-transition-property:-ms-transform;transition-property:transform;-webkit-box-sizing:content-box;-moz-box-sizing:content-box;box-sizing:content-box}.swiper-container-android .swiper-slide,.swiper-wrapper{-webkit-transform:translate3d(0,0,0);-moz-transform:translate3d(0,0,0);-o-transform:translate(0,0);-ms-transform:translate3d(0,0,0);transform:translate3d(0,0,0)}.swiper-container-multirow>.swiper-wrapper{-webkit-box-lines:multiple;-moz-box-lines:multiple;-ms-flex-wrap:wrap;-webkit-flex-wrap:wrap;flex-wrap:wrap}.swiper-container-free-mode>.swiper-wrapper{-webkit-transition-timing-function:ease-out;-moz-transition-timing-function:ease-out;-ms-transition-timing-function:ease-out;-o-transition-timing-function:ease-out;transition-timing-function:ease-out;margin:0 auto}.swiper-slide{-webkit-flex-shrink:0;-ms-flex:0 0 auto;flex-shrink:0;width:100%;height:100%;position:relative}.swiper-container-autoheight,.swiper-container-autoheight .swiper-slide{height:auto}.swiper-container-autoheight .swiper-wrapper{-webkit-box-align:start;-ms-flex-align:start;-webkit-align-items:flex-start;align-items:flex-start;-webkit-transition-property:-webkit-transform,height;-moz-transition-property:-moz-transform;-o-transition-property:-o-transform;-ms-transition-property:-ms-transform;transition-property:transform,height}.swiper-container .swiper-notification{position:absolute;left:0;top:0;pointer-events:none;opacity:0;z-index:-1000}.swiper-wp8-horizontal{-ms-touch-action:pan-y;touch-action:pan-y}.swiper-wp8-vertical{-ms-touch-action:pan-x;touch-action:pan-x}.swiper-button-next,.swiper-button-prev{position:absolute;top:50%;width:27px;height:44px;margin-top:-22px;z-index:10;cursor:pointer;-moz-background-size:27px 44px;-webkit-background-size:27px 44px;background-size:27px 44px;background-position:center;background-repeat:no-repeat}.swiper-button-next.swiper-button-disabled,.swiper-button-prev.swiper-button-disabled{opacity:.35;cursor:auto;pointer-events:none}.swiper-button-prev,.swiper-container-rtl .swiper-button-next{background-image:url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23007aff'%2F%3E%3C%2Fsvg%3E");left:10px;right:auto}.swiper-button-prev.swiper-button-black,.swiper-container-rtl .swiper-button-next.swiper-button-black{background-image:url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23000000'%2F%3E%3C%2Fsvg%3E")}.swiper-button-prev.swiper-button-white,.swiper-container-rtl .swiper-button-next.swiper-button-white{background-image:url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23ffffff'%2F%3E%3C%2Fsvg%3E")}.swiper-button-next,.swiper-container-rtl .swiper-button-prev{background-image:url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23007aff'%2F%3E%3C%2Fsvg%3E");right:10px;left:auto}.swiper-button-next.swiper-button-black,.swiper-container-rtl .swiper-button-prev.swiper-button-black{background-image:url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23000000'%2F%3E%3C%2Fsvg%3E")}.swiper-button-next.swiper-button-white,.swiper-container-rtl .swiper-button-prev.swiper-button-white{background-image:url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23ffffff'%2F%3E%3C%2Fsvg%3E")}.swiper-pagination{position:absolute;text-align:center;-webkit-transition:.3s;-moz-transition:.3s;-o-transition:.3s;transition:.3s;-webkit-transform:translate3d(0,0,0);-ms-transform:translate3d(0,0,0);-o-transform:translate3d(0,0,0);transform:translate3d(0,0,0);z-index:10}.swiper-pagination.swiper-pagination-hidden{opacity:0}.swiper-container-horizontal>.swiper-pagination-bullets,.swiper-pagination-custom,.swiper-pagination-fraction{bottom:10px;left:0;width:100%}.swiper-pagination-bullet{width:8px;height:8px;display:inline-block;border-radius:100%;background:#000;opacity:.2}button.swiper-pagination-bullet{border:none;margin:0;padding:0;box-shadow:none;-moz-appearance:none;-ms-appearance:none;-webkit-appearance:none;appearance:none}.swiper-pagination-clickable .swiper-pagination-bullet{cursor:pointer}.swiper-pagination-white .swiper-pagination-bullet{background:#fff}.swiper-pagination-bullet-active{opacity:1;background:#007aff}.swiper-pagination-white .swiper-pagination-bullet-active{background:#fff}.swiper-pagination-black .swiper-pagination-bullet-active{background:#000}.swiper-container-vertical>.swiper-pagination-bullets{right:10px;top:50%;-webkit-transform:translate3d(0,-50%,0);-moz-transform:translate3d(0,-50%,0);-o-transform:translate(0,-50%);-ms-transform:translate3d(0,-50%,0);transform:translate3d(0,-50%,0)}.swiper-container-vertical>.swiper-pagination-bullets .swiper-pagination-bullet{margin:5px 0;display:block}.swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet{margin:0 5px}.swiper-pagination-progress{background:rgba(0,0,0,.25);position:absolute}.swiper-pagination-progress .swiper-pagination-progressbar{background:#007aff;position:absolute;left:0;top:0;width:100%;height:100%;-webkit-transform:scale(0);-ms-transform:scale(0);-o-transform:scale(0);transform:scale(0);-webkit-transform-origin:left top;-moz-transform-origin:left top;-ms-transform-origin:left top;-o-transform-origin:left top;transform-origin:left top}.swiper-container-rtl .swiper-pagination-progress .swiper-pagination-progressbar{-webkit-transform-origin:right top;-moz-transform-origin:right top;-ms-transform-origin:right top;-o-transform-origin:right top;transform-origin:right top}.swiper-container-horizontal>.swiper-pagination-progress{width:100%;height:4px;left:0;top:0}.swiper-container-vertical>.swiper-pagination-progress{width:4px;height:100%;left:0;top:0}.swiper-pagination-progress.swiper-pagination-white{background:rgba(255,255,255,.5)}.swiper-pagination-progress.swiper-pagination-white .swiper-pagination-progressbar{background:#fff}.swiper-pagination-progress.swiper-pagination-black .swiper-pagination-progressbar{background:#000}.swiper-container-3d{-webkit-perspective:1200px;-moz-perspective:1200px;-o-perspective:1200px;perspective:1200px}.swiper-container-3d .swiper-cube-shadow,.swiper-container-3d .swiper-slide,.swiper-container-3d .swiper-slide-shadow-bottom,.swiper-container-3d .swiper-slide-shadow-left,.swiper-container-3d .swiper-slide-shadow-right,.swiper-container-3d .swiper-slide-shadow-top,.swiper-container-3d .swiper-wrapper{-webkit-transform-style:preserve-3d;-moz-transform-style:preserve-3d;-ms-transform-style:preserve-3d;transform-style:preserve-3d}.swiper-container-3d .swiper-slide-shadow-bottom,.swiper-container-3d .swiper-slide-shadow-left,.swiper-container-3d .swiper-slide-shadow-right,.swiper-container-3d .swiper-slide-shadow-top{position:absolute;left:0;top:0;width:100%;height:100%;pointer-events:none;z-index:10}.swiper-container-3d .swiper-slide-shadow-left{background-image:-webkit-gradient(linear,left top,right top,from(rgba(0,0,0,.5)),to(rgba(0,0,0,0)));background-image:-webkit-linear-gradient(right,rgba(0,0,0,.5),rgba(0,0,0,0));background-image:-moz-linear-gradient(right,rgba(0,0,0,.5),rgba(0,0,0,0));background-image:-o-linear-gradient(right,rgba(0,0,0,.5),rgba(0,0,0,0));background-image:linear-gradient(to left,rgba(0,0,0,.5),rgba(0,0,0,0))}.swiper-container-3d .swiper-slide-shadow-right{background-image:-webkit-gradient(linear,right top,left top,from(rgba(0,0,0,.5)),to(rgba(0,0,0,0)));background-image:-webkit-linear-gradient(left,rgba(0,0,0,.5),rgba(0,0,0,0));background-image:-moz-linear-gradient(left,rgba(0,0,0,.5),rgba(0,0,0,0));background-image:-o-linear-gradient(left,rgba(0,0,0,.5),rgba(0,0,0,0));background-image:linear-gradient(to right,rgba(0,0,0,.5),rgba(0,0,0,0))}.swiper-container-3d .swiper-slide-shadow-top{background-image:-webkit-gradient(linear,left top,left bottom,from(rgba(0,0,0,.5)),to(rgba(0,0,0,0)));background-image:-webkit-linear-gradient(bottom,rgba(0,0,0,.5),rgba(0,0,0,0));background-image:-moz-linear-gradient(bottom,rgba(0,0,0,.5),rgba(0,0,0,0));background-image:-o-linear-gradient(bottom,rgba(0,0,0,.5),rgba(0,0,0,0));background-image:linear-gradient(to top,rgba(0,0,0,.5),rgba(0,0,0,0))}.swiper-container-3d .swiper-slide-shadow-bottom{background-image:-webkit-gradient(linear,left bottom,left top,from(rgba(0,0,0,.5)),to(rgba(0,0,0,0)));background-image:-webkit-linear-gradient(top,rgba(0,0,0,.5),rgba(0,0,0,0));background-image:-moz-linear-gradient(top,rgba(0,0,0,.5),rgba(0,0,0,0));background-image:-o-linear-gradient(top,rgba(0,0,0,.5),rgba(0,0,0,0));background-image:linear-gradient(to bottom,rgba(0,0,0,.5),rgba(0,0,0,0))}.swiper-container-coverflow .swiper-wrapper,.swiper-container-flip .swiper-wrapper{-ms-perspective:1200px}.swiper-container-cube,.swiper-container-flip{overflow:visible}.swiper-container-cube .swiper-slide,.swiper-container-flip .swiper-slide{pointer-events:none;-webkit-backface-visibility:hidden;-moz-backface-visibility:hidden;-ms-backface-visibility:hidden;backface-visibility:hidden;z-index:1}.swiper-container-cube .swiper-slide .swiper-slide,.swiper-container-flip .swiper-slide .swiper-slide{pointer-events:none}.swiper-container-cube .swiper-slide-active,.swiper-container-cube .swiper-slide-active .swiper-slide-active,.swiper-container-flip .swiper-slide-active,.swiper-container-flip .swiper-slide-active .swiper-slide-active{pointer-events:auto}.swiper-container-cube .swiper-slide-shadow-bottom,.swiper-container-cube .swiper-slide-shadow-left,.swiper-container-cube .swiper-slide-shadow-right,.swiper-container-cube .swiper-slide-shadow-top,.swiper-container-flip .swiper-slide-shadow-bottom,.swiper-container-flip .swiper-slide-shadow-left,.swiper-container-flip .swiper-slide-shadow-right,.swiper-container-flip .swiper-slide-shadow-top{z-index:0;-webkit-backface-visibility:hidden;-moz-backface-visibility:hidden;-ms-backface-visibility:hidden;backface-visibility:hidden}.swiper-container-cube .swiper-slide{visibility:hidden;-webkit-transform-origin:0 0;-moz-transform-origin:0 0;-ms-transform-origin:0 0;transform-origin:0 0;width:100%;height:100%}.swiper-container-cube.swiper-container-rtl .swiper-slide{-webkit-transform-origin:100% 0;-moz-transform-origin:100% 0;-ms-transform-origin:100% 0;transform-origin:100% 0}.swiper-container-cube .swiper-slide-active,.swiper-container-cube .swiper-slide-next,.swiper-container-cube .swiper-slide-next+.swiper-slide,.swiper-container-cube .swiper-slide-prev{pointer-events:auto;visibility:visible}.swiper-container-cube .swiper-cube-shadow{position:absolute;left:0;bottom:0;width:100%;height:100%;background:#000;opacity:.6;-webkit-filter:blur(50px);filter:blur(50px);z-index:0}.swiper-container-fade.swiper-container-free-mode .swiper-slide{-webkit-transition-timing-function:ease-out;-moz-transition-timing-function:ease-out;-ms-transition-timing-function:ease-out;-o-transition-timing-function:ease-out;transition-timing-function:ease-out}.swiper-container-fade .swiper-slide{pointer-events:none;-webkit-transition-property:opacity;-moz-transition-property:opacity;-o-transition-property:opacity;transition-property:opacity}.swiper-container-fade .swiper-slide .swiper-slide{pointer-events:none}.swiper-container-fade .swiper-slide-active,.swiper-container-fade .swiper-slide-active .swiper-slide-active{pointer-events:auto}.swiper-zoom-container{width:100%;height:100%;display:-webkit-box;display:-moz-box;display:-ms-flexbox;display:-webkit-flex;display:flex;-webkit-box-pack:center;-moz-box-pack:center;-ms-flex-pack:center;-webkit-justify-content:center;justify-content:center;-webkit-box-align:center;-moz-box-align:center;-ms-flex-align:center;-webkit-align-items:center;align-items:center;text-align:center}.swiper-zoom-container>canvas,.swiper-zoom-container>img,.swiper-zoom-container>svg{max-width:100%;max-height:100%;object-fit:contain}.swiper-scrollbar{border-radius:10px;position:relative;-ms-touch-action:none;background:rgba(0,0,0,.1)}.swiper-container-horizontal>.swiper-scrollbar{position:absolute;left:1%;bottom:3px;z-index:50;height:5px;width:98%}.swiper-container-vertical>.swiper-scrollbar{position:absolute;right:3px;top:1%;z-index:50;width:5px;height:98%}.swiper-scrollbar-drag{height:100%;width:100%;position:relative;background:rgba(0,0,0,.5);border-radius:10px;left:0;top:0}.swiper-scrollbar-cursor-drag{cursor:move}.swiper-lazy-preloader{width:42px;height:42px;position:absolute;left:50%;top:50%;margin-left:-21px;margin-top:-21px;z-index:10;-webkit-transform-origin:50%;-moz-transform-origin:50%;transform-origin:50%;-webkit-animation:swiper-preloader-spin 1s steps(12,end) infinite;-moz-animation:swiper-preloader-spin 1s steps(12,end) infinite;animation:swiper-preloader-spin 1s steps(12,end) infinite}.swiper-lazy-preloader:after{display:block;content:"";width:100%;height:100%;background-image:url("data:image/svg+xml;charset=utf-8,%3Csvg%20viewBox%3D'0%200%20120%20120'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20xmlns%3Axlink%3D'http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink'%3E%3Cdefs%3E%3Cline%20id%3D'l'%20x1%3D'60'%20x2%3D'60'%20y1%3D'7'%20y2%3D'27'%20stroke%3D'%236c6c6c'%20stroke-width%3D'11'%20stroke-linecap%3D'round'%2F%3E%3C%2Fdefs%3E%3Cg%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(30%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(60%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(90%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(120%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(150%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.37'%20transform%3D'rotate(180%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.46'%20transform%3D'rotate(210%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.56'%20transform%3D'rotate(240%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.66'%20transform%3D'rotate(270%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.75'%20transform%3D'rotate(300%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.85'%20transform%3D'rotate(330%2060%2C60)'%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E");background-position:50%;-webkit-background-size:100%;background-size:100%;background-repeat:no-repeat}.swiper-lazy-preloader-white:after{background-image:url("data:image/svg+xml;charset=utf-8,%3Csvg%20viewBox%3D'0%200%20120%20120'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20xmlns%3Axlink%3D'http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink'%3E%3Cdefs%3E%3Cline%20id%3D'l'%20x1%3D'60'%20x2%3D'60'%20y1%3D'7'%20y2%3D'27'%20stroke%3D'%23fff'%20stroke-width%3D'11'%20stroke-linecap%3D'round'%2F%3E%3C%2Fdefs%3E%3Cg%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(30%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(60%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(90%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(120%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(150%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.37'%20transform%3D'rotate(180%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.46'%20transform%3D'rotate(210%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.56'%20transform%3D'rotate(240%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.66'%20transform%3D'rotate(270%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.75'%20transform%3D'rotate(300%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.85'%20transform%3D'rotate(330%2060%2C60)'%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E")}@-webkit-keyframes swiper-preloader-spin{100%{-webkit-transform:rotate(360deg)}}@keyframes swiper-preloader-spin{100%{transform:rotate(360deg)}}