hr {border-top: 1px solid #b38d3a;}

a {color: #000;}

a:link{text-decoration:none;}

.box1{background-image: url(../img/qwoeiuohevjahbhvfkdbacdlsajblliuewhfag.png);}
.box2{background-image: url(../img/qwoeiuohevjahbhvfkdbacdlsajblliuewhfag.png);}
.box3{background: #402c00;}

#author a{
  color: #fff;
  text-decoration: none;    
}

.contact-sec a {
    color: #fff;
}
.contact-sec .a-2 {
    /* color: #000; */
}

.text-center {
    /* z-index: 20; */
    position: relative;
}