hr {border-top: 1px solid #000; width:50%;}

a {color: #000;}

a:link{text-decoration:none;}

.box1{background: #b38d3a;}
.box2{background: #495159;}
.box3{background: #E5D4C0;}

#author a{
  color: #fff;
  text-decoration: none;    
}

.contact-sec a {
    color: #fff;
}
.contact-sec .a-2 {
    color: #000;
}

.text-center {
    z-index: 20;
    position: relative;
}